
.black-text {
    color: #212529;
}

.black-bg {
    background-color: #212529;
}

.blue-text {
    color: #0366d6 !important;
}

.blue-bg {
    background-color: #0366d6 !important;
}

.white-bg {
    background-color: white!important;
}

.light-blue-bg {
    background-color: #e1edf7!important;
}

.blue-gray-bg {
    background-color: #b4c7d6!important;
}