
@{
    Layout = "~/Views/Shared/_AdministrationLayout.cshtml";
    ViewData["Title"] = "Verify Email";
}
<style>
    button a {
        color: white;
    }
</style>
<div class="row pageContainers">
    <div class="col-md-3 col-sm-0">
    </div>
    <div class="col-md-6 col-sm-12">
        <div style="border: 1px solid #b7b7b7;height:auto;">
            <div style="background-color: #217ff3;color: white;height: 35px;">
                <p class="text-left " style="padding: 8px;font-weight:600;font-size:16px;">Verify email</p>
            </div>
            <div style="padding:30px;">
                <h6>
                    For added security, we need to verify your address. We sent a verification link to (email address)
                </h6>
                <p>
                    <span style="font-weight:bold">REMINDER:</span> Please check you inbox, spam or other folder to view the verification link
                </p>
                @*<p>
                    If you do not receive it in 2 minutes, click <a href="/Account/ResendEmail?email=@ViewData["Email"]" style="color:#217ff3">SEND AGAIN</a>
                    @ViewData["Email"]
                </p>*@


                @*<div class="row">
                        <div class="col-md-2 col-sm-1"></div>
                        <div class="col-md-8 col-sm-10">
                            <button type="submit" class="btn col-md-12 col-sm-12" style="background-color:#217ff3;">@Html.ActionLink("", $"ResendEmail?email=" + @ViewData["Email"], "Account")</button>
                        </div>
                        <div class="col-md-2 col-sm-1"></div>
                    </div>*@

                @*<button type="submit" class="btn btn-primary col-md-6 col-sm-12">@Html.ActionLink("Log In", "Login", "Account", new { Model })</button>*@
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-0">
    </div>
</div>
