
@{
    ViewData["Title"] = "Admin";
    Layout = "_AdminLayout";
}

<div class="content-header">

    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">History logs of Super Administrator</h1>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<!-- Main content -->
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">

                <div>
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>IP Address</th>
                                <th>Browser</th>
                                <th>Platform(s)</th>
                                <th>IsActive</th>
                                <th>DateTime</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Kenneth Villafuerte</td>
                                <td>192.168.254.254</td>
                                <td>
                                    Internet
                                    Explorer 4.0
                                </td>
                                <td>Win 95+</td>
                                <td>True</td>
                                <td>07-31-2020</td>
                            </tr>
                            <tr>
                                <td>Kenneth Villafuerte</td>
                                <td>192.168.254.254</td>
                                <td>
                                    Internet
                                    Explorer 4.0
                                </td>
                                <td>Win 95+</td>
                                <td>True</td>
                                <td>07-31-2020</td>
                            </tr>
                            <tr>
                                <td>Kenneth Villafuerte</td>
                                <td>192.168.254.254</td>
                                <td>
                                    Internet
                                    Explorer 4.0
                                </td>
                                <td>Win 95+</td>
                                <td>True</td>
                                <td>07-31-2020</td>
                            </tr>
                            <tr>
                                <td>Kenneth Villafuerte</td>
                                <td>192.168.254.254</td>
                                <td>
                                    Internet
                                    Explorer 4.0
                                </td>
                                <td>Win 95+</td>
                                <td>True</td>
                                <td>07-31-2020</td>
                            </tr>
                            <tr>
                                <td>Kenneth Villafuerte</td>
                                <td>192.168.254.254</td>
                                <td>
                                    Internet
                                    Explorer 4.0
                                </td>
                                <td>Win 95+</td>
                                <td>True</td>
                                <td>07-31-2020</td>
                            </tr>
                            <tr>
                                <td>Kenneth Villafuerte</td>
                                <td>192.168.254.254</td>
                                <td>
                                    Internet
                                    Explorer 4.0
                                </td>
                                <td>Win 95+</td>
                                <td>True</td>
                                <td>07-31-2020</td>
                            </tr>
                            <tr>
                                <td>Kenneth Villafuerte</td>
                                <td>192.168.254.254</td>
                                <td>
                                    Internet
                                    Explorer 4.0
                                </td>
                                <td>Win 95+</td>
                                <td>True</td>
                                <td>07-31-2020</td>
                            </tr>
                            <tr>
                                <td>Kenneth Villafuerte</td>
                                <td>192.168.254.254</td>
                                <td>
                                    Internet
                                    Explorer 4.0
                                </td>
                                <td>Win 95+</td>
                                <td>True</td>
                                <td>07-31-2020</td>
                            </tr>
                            <tr>
                                <td>Kenneth Villafuerte</td>
                                <td>192.168.254.254</td>
                                <td>
                                    Internet
                                    Explorer 4.0
                                </td>
                                <td>Win 95+</td>
                                <td>True</td>
                                <td>07-31-2020</td>
                            </tr>
                            <tr>
                                <td>Kenneth Villafuerte</td>
                                <td>192.168.254.254</td>
                                <td>
                                    Internet
                                    Explorer 4.0
                                </td>
                                <td>Win 95+</td>
                                <td>True</td>
                                <td>07-31-2020</td>
                            </tr>
                            <tr>
                                <td>Kenneth Villafuerte</td>
                                <td>192.168.254.254</td>
                                <td>
                                    Internet
                                    Explorer 4.0
                                </td>
                                <td>Win 95+</td>
                                <td>True</td>
                                <td>07-31-2020</td>
                            </tr>
                            <tr>
                                <td>Kenneth Villafuerte</td>
                                <td>192.168.254.254</td>
                                <td>
                                    Internet
                                    Explorer 4.0
                                </td>
                                <td>Win 95+</td>
                                <td>True</td>
                                <td>07-31-2020</td>
                            </tr>
                            <tr>
                                <td>Kenneth Villafuerte</td>
                                <td>192.168.254.254</td>
                                <td>
                                    Internet
                                    Explorer 4.0
                                </td>
                                <td>Win 95+</td>
                                <td>True</td>
                                <td>07-31-2020</td>
                            </tr>
                            <tr>
                                <td>Kenneth Villafuerte</td>
                                <td>192.168.254.254</td>
                                <td>
                                    Internet
                                    Explorer 4.0
                                </td>
                                <td>Win 95+</td>
                                <td>True</td>
                                <td>07-31-2020</td>
                            </tr>
                            <tr>
                                <td>Kenneth Villafuerte</td>
                                <td>192.168.254.254</td>
                                <td>
                                    Internet
                                    Explorer 4.0
                                </td>
                                <td>Win 95+</td>
                                <td>True</td>
                                <td>07-31-2020</td>
                            </tr>
                            <tr>
                                <td>Kenneth Villafuerte</td>
                                <td>192.168.254.254</td>
                                <td>
                                    Internet
                                    Explorer 4.0
                                </td>
                                <td>Win 95+</td>
                                <td>True</td>
                                <td>07-31-2020</td>
                            </tr>
                            <tr>
                                <td>Kenneth Villafuerte</td>
                                <td>192.168.254.254</td>
                                <td>
                                    Internet
                                    Explorer 4.0
                                </td>
                                <td>Win 95+</td>
                                <td>True</td>
                                <td>07-31-2020</td>
                            </tr>
                            <tr>
                                <td>Kenneth Villafuerte</td>
                                <td>192.168.254.254</td>
                                <td>
                                    Internet
                                    Explorer 4.0
                                </td>
                                <td>Win 95+</td>
                                <td>True</td>
                                <td>07-31-2020</td>
                            </tr>
                            <tr>
                                <td>Kenneth Villafuerte</td>
                                <td>192.168.254.254</td>
                                <td>
                                    Internet
                                    Explorer 4.0
                                </td>
                                <td>Win 95+</td>
                                <td>True</td>
                                <td>07-31-2020</td>
                            </tr>
                            <tr>
                                <td>Kenneth Villafuerte</td>
                                <td>192.168.254.254</td>
                                <td>
                                    Internet
                                    Explorer 4.0
                                </td>
                                <td>Win 95+</td>
                                <td>True</td>
                                <td>07-31-2020</td>
                            </tr>
                            <tr>
                                <td>Kenneth Villafuerte</td>
                                <td>192.168.254.254</td>
                                <td>
                                    Internet
                                    Explorer 4.0
                                </td>
                                <td>Win 95+</td>
                                <td>True</td>
                                <td>07-31-2020</td>
                            </tr>
                            <tr>
                                <td>Kenneth Villafuerte</td>
                                <td>192.168.254.254</td>
                                <td>
                                    Internet
                                    Explorer 4.0
                                </td>
                                <td>Win 95+</td>
                                <td>True</td>
                                <td>07-31-2020</td>
                            </tr>
                            <tr>
                                <td>Kenneth Villafuerte</td>
                                <td>192.168.254.254</td>
                                <td>
                                    Internet
                                    Explorer 4.0
                                </td>
                                <td>Win 95+</td>
                                <td>True</td>
                                <td>07-31-2020</td>
                            </tr>
                            <tr>
                                <td>Kenneth Villafuerte</td>
                                <td>192.168.254.254</td>
                                <td>
                                    Internet
                                    Explorer 4.0
                                </td>
                                <td>Win 95+</td>
                                <td>True</td>
                                <td>07-31-2020</td>
                            </tr>
                            <tr>
                                <td>Kenneth Villafuerte</td>
                                <td>192.168.254.254</td>
                                <td>
                                    Internet
                                    Explorer 4.0
                                </td>
                                <td>Win 95+</td>
                                <td>True</td>
                                <td>07-31-2020</td>
                            </tr>
                            <tr>
                                <td>Kenneth Villafuerte</td>
                                <td>192.168.254.254</td>
                                <td>
                                    Internet
                                    Explorer 4.0
                                </td>
                                <td>Win 95+</td>
                                <td>True</td>
                                <td>07-31-2020</td>
                            </tr>
                        </tbody>
                        @*<tfoot>
                            <tr>
                                <th>Rendering engine</th>
                                <th>Browser</th>
                                <th>Platform(s)</th>
                                <th>Engine version</th>
                                <th>CSS grade</th>
                            </tr>
                        </tfoot>*@
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content -->
@section Scripts {
    <script>
        $(document).ready(function () {

            $("#example1").DataTable({
                "responsive": true,
                "autoWidth": false,
            });
           

        });

    </script>
}