@using Microsoft.AspNetCore.Identity
@model DFACore.Models.SiteSelectionViewModel
@using Microsoft.Extensions.Options
@using System.Linq

@{
    ViewData["Title"] = "Home Page";

    var defaultBranch = (BranchModel)ViewData["DefaultBranch"];


}
<style>
    body {
        margin: 0 !important;
    }

    .nav-item a {
        height: 30px;
        line-height: 15px;
        border: 1px solid #b7b7b7;
        color: gray;
    }

    .nav-item .active {
        color: white;
    }

    div#application-form {
        color: black;
    }

    #documentList h6 {
        font-weight: 600;
    }

    #appointmentTime div {
        margin-left: 10px;
    }

    #step-one input, #step-one-authorized input {
        text-transform: uppercase;
        font-weight: 500;
    }

    .red {
        color: red;
    }

    p.appointmentHeader {
        margin-bottom: 0;
    }


    .mapouter {
        position: relative;
        text-align: right;
        height: 500px;
        width: auto;
    }

    .gmap_canvas {
        overflow: hidden;
        background: none !important;
        height: 500px;
        width: 100% !important;
    }

    #loading {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: fixed;
        display: flex;
        opacity: 0.7;
        background: rgba(0, 0, 0, 0.91);
        z-index: 9999;
        text-align: center;
    }

    #loading-image {
        margin: auto;
    }

    .img-fluid {
        width: 100% !important;
    }
</style>

<div class="pageContainers" id="application-form" padding: 20px;
     height: auto;">
    <div id="loading">
        <div id="loading-image">
            <i id="loading-image" class="fa fa-spinner fa-spin fa-3x" style="color: white"></i>
        </div>
    </div>
    <div id="formContainer" class="mt-5">
        @*<div asp-validation-summary="All" class="text-danger"></div>*@


        <div class="media">
            <div class="media-body">
                <p class="grey-text-bold font-weight-bold p-0 p-label">
                    @User.Identity.Name<br />
                    @DateTime.Now.ToString("MMMM dd yyy HH:mm tt")
                </p>
            </div>
            <p class="float-right text-right mt-auto p-label">
                <a class="text-uppercase bold" asp-action="LogOff" asp-controller="Account">Logout</a>
            </p>
        </div>

        @{


            <form id="account" method="post" asp-action="PaymentMethod" asp-controller="Home">


                <div>
                    <div style="background-color: #217ff3;color: white;height: 35px;border-radius:5px;margin-bottom:10px;">
                        <p class="text-center d-none d-md-block" style="padding: 8px;font-weight:600;font-size:16px;">Step 5 of 6</p>
                        <p class="text-center d-md-none" style="padding: 8px;font-weight:600;font-size:11px;">Step 5 of 6</p>
                    </div>

                    <div class="card-panel white-bg p-0">
                                <div class="mb-3 pb-4">
                                    <div class="d-flex mb-0 px-4 pt-4 pb-0">
                                        <label class="mb-0 bold mr-3 mx-auto">Summary of Application</label>
                                    </div>

                                    <div class="px-0 mb-4">
                                        <hr style="color: #DFE8F5; background-color: #DFE8F5;" class="mb-2 mt-0" />
                                    </div>

                                    <div class="mt-3 px-4 pb-4">
                                        <p class="p-label red-text text-center mb-1"><i>Please ensure that all the information/details are correct before clicking the GENERATE APPLICATION CODE button.</i></p>
                                        <p class="p-alt p-label text-center mb-0"><i>Mangyaring tiyaking lahat ng impormasyon / mga detalye ay tama bago i-click anf GENERATE APPLICATION CODE button.</i></p>
                                    </div>

                                    <div class="px-4">
                                        <label class="mb-0 bold p-label"><i>Application Details</i></label>
                                        <div style="height: 80px" class="entry-bg mb-3">

                                        </div>
                                        <label class="mb-0 bold p-label"><i>Shipping Information</i></label>
                                        <div style="height: 80px" class="entry-bg mb-3">

                                        </div>
                                        <label class="mb-0 bold p-label"><i>Fees</i></label>
                                        <div style="height: 80px" class="entry-bg">

                                        </div>
                                    </div>
                                </div>


                    </div>

                    <div>
                            <div class="hide-on-small">
                                <div class="card-body px-5 py-5 d-flex w-100">
                                    <button id="backToStepOne" type="button" class="courier-btn btn btn-secondary text-uppercase ml-auto mr-3">Back</button>
                                    <input type="submit" class="courier-btn btn btn-primary text-uppercase mr-auto ml-3" value="PAYMENT">
                                </div>
                            </div>
                            <div class="show-on-small-only mt-5 my-auto">
                                <button id="backToStepOne" type="button" class="courier-btn btn btn-secondary text-uppercase w-100 mb-4">Back</button>
                                <input type="submit" class="courier-btn btn btn-primary text-uppercase w-100" value="PAYMENT">
                            </div>
                        </div>
                </div>

            </form>


        }



    </div>

</div>

@section Scripts {

    <script src="~/js/apostilleschedule.js"></script>

}
