@{
    ViewData["Title"] = "Landing Page";
}

<style>
    html {
        background-color: transparent !important;
    }

    body {
        background-color: white !important;
    }
</style>
<div class="dashboard text-center">
    <div class="hdr pb-1" style="top: 44px!important;">
        <section class="header w-100 px-4 pt-4 bg-white py-2">
            <div class="text-center mt-0 w-100 mb-0">
                <p class="black-text bold mb-0 p-label">Office of Consular Affairs</p>
                <p class="black-text bold p-label mb-3">Authentication Division</p>
                <small>Welcome to</small>
                <h2 class="blue-text bold mb-2 mt-0 h2">e-Apostille System</h2>
                <p class="p-label bold">Electronic Apostille  |  Apostille System  |  DocTrack  |  e-Payment</p>
            </div>
        </section>
    </div>


    <section class="blue-gray-bg p-4 mt-110 hide-on-small">
        <div class="hide-on-small">
            <div class="d-flex justify-content-center mb-5">
                <div id="loginPanel" class="card-panel white-bg db blue pointer">
                    <a asp-action="Login" asp-controller="Account">
                        <div class="circle dot"></div>
                        <div class="header text-center">
                            <p class="bold mb-0">Start an </p>
                            <p class="bold">application</p>
                        </div>
                        <div class="body py-3 d-flex flex-column bg-white">
                            <div class="ic-container m-auto d-flex">
                                <img class="m-auto" src="~/images/icons/existing.png" />
                            </div>
                            <small class="mb-0 mt-3"><i class="black-text">For existing users</i></small>
                        </div>
                    </a>
                </div>

                <div id="verificationPanel" class="card-panel white-bg db red pointer" style="margin-left: 100px;">
                    <a href="https://co.dfaapostille.ph/verify/">
                        <div class="circle dot"></div>
                        <div class="header text-center">
                            <p class="bold mb-0">Verify an </p>
                            <p class="bold">apostille</p>
                        </div>
                        <div class="body py-3 d-flex flex-column">
                            <div class="ic-container m-auto d-flex">
                                <img src="~/images/icons/verify.png" class="m-auto" />
                            </div>
                            <small class="mb-0 mt-3"><i class="black-text">Online Apostille Verification</i></small>
                        </div>
                    </a>

                </div>

                @*<div id="registrationPanel" class="card-panel white-bg db teal mr-auto pointer">
                    <a asp-action="Register" asp-controller="Account">
                        <div class="circle dot"></div>
                        <div class="header text-left">
                            <p class="text-uppercase bold mb-0">Create </p>
                            <p class="text-uppercase bold">an account</p>
                        </div>
                        <div class="body py-3 d-flex flex-column">
                            <div class="ic-container m-auto d-flex">
                                <img src="~/images/icons/new_user.png" class="m-auto" />
                            </div>
                            <small class="mb-0 mt-3"><i class="black-text">For new users</i></small>
                        </div>
                    </a>
                </div>*@
            </div>
        </div>

        <div class="show-on-small-only ">
            <div class="d-flex fl mb-5">
                <div id="loginPanel" class="card-panel white-bg db blue mr-4 ml-auto pointer">
                    <a asp-action="Login" asp-controller="Account">
                        <div class="circle dot"></div>
                        <div class="header text-center">
                            <p class="bold mb-0">Start an </p>
                            <p class="bold">application</p>
                        </div>
                        <div class="body py-3 px-2 d-flex flex-column bg-white">
                            <div class="ic-container m-auto">

                            </div>
                            <small class="mb-0 mt-3"><i>For existing users</i></small>
                        </div>
                    </a>
                </div>

                <div id="verificationPanel" class="card-panel white-bg db red mr-auto pointer">
                    <div class="circle dot"></div>
                    <div class="header text-center">
                        <p class="bold mb-0">Verify an </p>
                        <p class="bold">apostille</p>
                    </div>
                    <div class="body py-3 px-2 d-flex flex-column">
                        <div class="ic-container m-auto">

                        </div>
                        <small class="mb-0 mt-3"><i>Online Apostille Verification</i></small>
                    </div>
                </div>
            </div>

            @*<div id="registrationPanel" class="card-panel white-bg db teal mr-auto pointer mx-auto mb-4" style="margin-top: -1.5rem!important">
                <a asp-action="Register" asp-controller="Account">
                    <div class="circle dot"></div>
                    <div class="header text-left">
                        <p class="text-uppercase bold mb-0">Create </p>
                        <p class="text-uppercase bold">an account</p>
                    </div>
                    <div class="body py-3 d-flex flex-column">
                        <div class="ic-container m-auto">

                        </div>
                        <small class="mb-0 mt-3"><i>For new users</i></small>
                    </div>
                </a>
            </div>*@
        </div>

        <div class="d-flex w-100 justify-content-center">
            <div class="vibrant-blue-bg mr-2 ic-box">
                <i class="fa fa-info blue-gray-text"></i>
            </div>
            <a class="pointer d-flex" asp-action="PlayVideo" asp-controller="Account" target="_blank">
                <p class="text-uppercase black-text p-label m-auto">Watch instructional video</p>
            </a>
        </div>
    </section>

    <div>
        <section class="blue-gray-bg p-4 px-5 show-on-small-only ">
            <div class="show-on-small-only ">
                <div class="d-flex flex-column mb-4">
                    <div id="loginPanel" class="card-panel white-bg db mb-5 mt-0 blue mx-auto pointer">
                        <a asp-action="Login" asp-controller="Account">
                            <div class="circle dot"></div>
                            <div class="header text-center">
                                <p class="bold mb-0">Start an </p>
                                <p class="bold">application</p>
                            </div>
                            <div class="body py-5 px-2 d-flex flex-column bg-white">
                                <div class="ic-container m-auto d-flex">
                                    <img class="m-auto" src="~/images/icons/existing.png" />
                                </div>
                                <small class="mb-0 mt-3"><i class="black-text">For existing users</i></small>
                            </div>
                        </a>
                    </div>

                    <div id="verificationPanel" class="card-panel white-bg db mb-5 mt-0 red mx-auto pointer">
                        <div class="circle dot"></div>
                        <div class="header text-center">
                            <p class="bold mb-0">Verify an </p>
                            <p class="bold">apostille</p>
                        </div>
                        <div class="body py-5 px-2 d-flex flex-column">
                            <div class="ic-container m-auto d-flex">
                                <img src="~/images/icons/verify.png" class="m-auto" />
                            </div>
                            <small class="mb-0 mt-3"><i class="black-text">Online Apostille Verification</i></small>
                        </div>
                    </div>
                </div>

                @*<div id="registrationPanel" class="card-panel white-bg db teal mr-auto pointer mx-auto mb-4" style="margin-top: -1.5rem!important">
                    <div class="circle dot"></div>
                    <div class="header text-left">
                        <p class="text-uppercase bold mb-0">Create </p>
                        <p class="text-uppercase bold">an account</p>
                    </div>
                    <div class="body py-5 d-flex flex-column">
                        <div class="ic-container m-auto d-flex">
                            <img src="~/images/icons/new_user.png" class="m-auto" />
                        </div>
                        <small class="mb-0 mt-3"><i class="black-text">For new users</i></small>
                    </div>
                </div>*@
            </div>

            <div class="d-flex w-100 justify-content-center">
                <div class="vibrant-blue-bg mr-2 ic-box">
                    <i class="fa fa-info blue-gray-text"></i>
                </div>
                <a class="pointer d-flex" asp-action="PlayVideo" asp-controller="Account" target="_blank">
                    <p class="text-uppercase black-text p-label m-auto">Watch instructional video</p>
                </a>
            </div>
        </section>
    </div>
    @*<div class="hide-on-small">
        <div class="d-flex w-100 justify-content-end pt-3" style="padding: 0 50px; font-weight: bold;">
            
            <a href="https://consular.dfa.gov.ph/advisories/97-faqs-authentication" class="p-label text-center">Authentication FAQs</a>
            <div class="divider-right mx-2"></div>
            <a asp-action="PrivacyPolicy" asp-controller="Home" class="p-label text-center">Privacy Policy</a>
            <div class="divider-right mx-2"></div>
            <a asp-action="ContactUs" asp-controller="Home" class="p-label text-center">Contact Us</a>
            
            
        </div>
    </div>

    <div class="show-on-small-only fixed-bottom py-3 white-bg">
        <div class="d-flex w-100 justify-content-end pt-0  white-bg" style="padding: 0 20px; font-weight: bold;">
            <a href="https://consular.dfa.gov.ph/advisories/97-faqs-authentication" class="p-label text-center">Authentication FAQs</a>
            <div class="divider-right mx-2"></div>
            <a asp-action="PrivacyPolicy" asp-controller="Home" class="p-label text-center">Privacy Policy</a>
            <div class="divider-right mx-2"></div>
            <a asp-action="ContactUs" asp-controller="Home" class="p-label text-center">Contact Us</a>

        </div>
    </div>*@
</div>


<script>
    $('document').ready(function () {
        let container = $('.container');
        container.addClass('db');
    });
</script>
