@*@model DFACore.Models.DTO.ApplicantModelDTO*@

<section class="header px-4 mt-3">
    <div class="text-center mt-3 w-100 mb-4">
        <h3 class="black-text bold mb-0 mt-2 h3">Apostille Appointment System</h3>
    </div>
</section>

<div class="pageContainers" id="application-form" style="padding: 20px;
        height: auto;min-height:450px;">

    <p style=" margin-bottom: 2rem;" class="d-none d-md-block">
        <span class="float-left grey-text-bold font-weight-bold">
            @User.Identity.Name
        </span>
        <span class="float-right">
            <a asp-action="LogOff" asp-controller="Account" style="font-weight:bold;">Logout</a>
        </span>
        <span class="float-right" style="padding-right:20px;">
            @DateTime.Now.ToString("MMMM dd yyy HH:mm tt")
        </span>
    </p>
    <div class="d-sm-none">
        <p class="p-label mb-1">
            <span class="grey-text-bold">@User.Identity.Name</span>
            <span class="float-right">@DateTime.Now.ToString("MMMM dd yyy HH:mm tt")</span>
        </p>
        <p class="text-right p-label"> <a asp-action="LogOff" asp-controller="Account" style="font-weight:bold;">Logout</a></p>
    </div>

    <div class="choose-user-container" style="background-color: #217ff3;color: white;height: 35px;border-radius:5px;margin-bottom:10px;">
        <p class="text-center" style="padding: 8px;font-weight:600;font-size:16px;">Step 1 of 5</p>
    </div>

    <div class="card bg-light mb-3 w-100 white-bg mt-4 d-flex flex-column justify-content-center">
        <div class="location-container w-100 mx-auto">
            <div class="card-header bold p-1 white-bg text-center mt-4">Where will the document be used?</div>
            <div class="card-body px-5 py-5">
                <button id="philippines-button" asp-action="Index" asp-controller="Home" class="btn btn-primary  w-100 d-block text-uppercase mb-4">Philippines</button>
                <button id="abroad-button" asp-action="Index" asp-controller="Home" class="btn btn-primary w-100 d-block text-uppercase">Abroad</button>
            </div>
        </div>
    </div>
</div>
