@using Microsoft.AspNetCore.Identity
@model DFACore.Models.ApplicantRecordViewModel
@{
    ViewData["Title"] = "Home Page";
}
<style>
    .nav-item a {
        height: 30px;
        line-height: 15px;
        border: 1px solid #b7b7b7;
        color: gray;
    }

    .nav-item .active {
        color: white;
    }

    div#application-form {
        color: gray;
    }

    /*button {
        width: 200px;
    }*/
    #documentList h6 {
        font-weight: 600;
    }

    #appointmentTime div {
        margin-left: 10px;
    }
</style>

<div id="application-form" style=" border: 1px solid #b7b7b7;
        padding: 20px;
        height: auto">
    <p style="margin-bottom: 2rem;">
        <span class="float-left font-weight-bold">
            @User.Identity.Name
        </span>
        <span class="float-right">
            @DateTime.Now.ToString("MMMM dd yyy HH:mm tt")
        </span>
    </p>
    @*<a asp-action="LogOff" asp-controller="Account">Logout</a>*@
    <ul class="col-12 nav nav-pills nav-fill" style="margin-bottom: 1rem;">
        <li class="nav-item">
            <a id="stepOneBtn" class="nav-link" onclick="Navigate('step-one',this)" href="#step-one"><span class="font-weight-bold">STEP 1:</span><span> Apostille Application</span></a>
        </li>
        <li class="nav-item">
            <a id="stepTwoBtn" class="nav-link" onclick="Navigate('step-two',this)" href="#step-two"><span class="font-weight-bold">STEP 2:</span><span> Schedule an Appointment</span></a>
        </li>
        <li class="nav-item">
            <a id="stepThreeBtn" class="nav-link" onclick="Navigate('step-three',this)" href="#step-three"><span class="font-weight-bold">STEP 3:</span><span> Generate Appointment Letter</span></a>
        </li>
    </ul>
    <form method="post">
        <div id="step-one" class="tabcontent">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="form-group">
                    <h6>Name of the Document Owner</h6>
                    <div class="row">
                        <div class="col-md-2 col-sm-12">
                            <label asp-for="Title"></label>
                            <select asp-for="Title" class="form-control">
                                <option value=""></option>
                                <option value="Title 1">Title 1</option>
                                <option value="Title 2">Title 2</option>
                                <option value="Title 3">Title 3</option>
                            </select>
                        </div>
                        <div class="col-md-3 col-sm-12">
                            <label asp-for="FirstName"></label>
                            <input asp-for="FirstName" class="form-control" />
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>

                        <div class="col-md-3 col-sm-12">
                            <label asp-for="MiddleName"></label>
                            <input asp-for="MiddleName" class="form-control" />
                            <span asp-validation-for="MiddleName" class="text-danger"></span>
                        </div>

                        <div class="col-md-3 col-sm-12">
                            <label asp-for="LastName"></label>
                            <input asp-for="LastName" class="form-control" />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>

                        <div class="col-md-1 col-sm-12">
                            <label asp-for="Suffix"></label>
                            <input asp-for="Suffix" class="form-control" />
                            <span asp-validation-for="Suffix" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-9 col-sm-12">
                            <label asp-for="Address"></label>
                            <input asp-for="Address" class="form-control" />
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>
                        <div class="col-md-3 col-sm-12">
                            <label asp-for="ContactNumber"></label>
                            <input asp-for="ContactNumber" class="form-control" />
                            <span asp-validation-for="ContactNumber" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-8 col-sm-12">
                            <label asp-for="CompanyName"></label>
                            <input asp-for="CompanyName" class="form-control" />
                            <span asp-validation-for="CompanyName" class="text-danger"></span>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <label asp-for="CountryDestination"></label>
                            @* Change to drop down list of countries *@
                            <input asp-for="CountryDestination" class="form-control" />
                            <span asp-validation-for="CountryDestination" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-7 col-sm-12">
                            <label asp-for="NameOfRepresentative"></label>
                            <input asp-for="NameOfRepresentative" class="form-control" />
                            <span asp-validation-for="NameOfRepresentative" class="text-danger"></span>
                        </div>
                        <div class="col-md-5 col-sm-12">
                            <label asp-for="RepresentativeContactNumber"></label>
                            <input asp-for="RepresentativeContactNumber" class="form-control" />
                            <span asp-validation-for="RepresentativeContactNumber" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>


            <div class="form-group">
                <div class="col-12">
                    <label class="form-check-label">
                        <a href="#" class="font-weight-bold" data-toggle="modal" data-target="#apostileModal">
                            Click here to select the document/s to be Apostillized
                        </a>
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-12">
                    <h6>Authentication requirements may be subject to change. The Department may require additional supporting documents if necessary.</h6>
                    <div style="background-color: #217ff3;color: white;height: 35px;">
                        <p class="text-left " style="padding: 8px;font-size:14px;">Number of documents to be Apostillized: <span>(Count)</span></p>
                    </div>
                    <div id="documentList" style="border: 1px solid #b7b7b7; padding: 10px;height:150px; overflow:scroll;">
                        <div class="row">
                            <div class="col-md-1 col-sm-12">
                                <h6>1 doc/s</h6>
                            </div>
                            <div class="col-md-11 col-sm-12">
                                <h6>Sample DOcument</h6>
                            </div>
                            <div class="col-md-1 col-sm-12">
                                <h6>1 doc/s</h6>
                            </div>
                            <div class="col-md-11 col-sm-12">
                                <h6>Sample DOcument</h6>
                            </div>
                            <div class="col-md-1 col-sm-12">
                                <h6>1 doc/s</h6>
                            </div>
                            <div class="col-md-11 col-sm-12">
                                <h6>Sample DOcument</h6>
                            </div>
                            <div class="col-md-1 col-sm-12">
                                <h6>1 doc/s</h6>
                            </div>
                            <div class="col-md-11 col-sm-12">
                                <h6>Sample DOcument</h6>
                            </div>
                            <div class="col-md-1 col-sm-12">
                                <h6>1 doc/s</h6>
                            </div>
                            <div class="col-md-11 col-sm-12">
                                <h6>Sample DOcument</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="margin-left: 25%;margin-right: 25%;">
                <button type="submit" id="nextBtn" class="btn col-md-4 col-sm-12" style="background-color:#217ff3;color:white;">Next</button>
                <button type="submit" class="btn btn-secondary float-right col-md-4 col-sm-12" style="background: white;color: blue;border: 1px solid darkgray;">Back</button>
            </div>
        </div>
        <div id="step-two" style="display:none" class="tabcontent">
            <div class="row col-12">
                <label>Processing Site:</label>
                <input class="form-control" value="DFA - Office of the Consular Affairs" />
            </div>
            <div class="row col-12">
                <label>Address</label>
                <input class="form-control" value="Bradco Avenue, cor. Macapagal Blvd. ASEANA Business Park, Paranaque City" />
            </div>            <hr />
            <div class="row col-12" style="margin-top:10px;">
                <div class="col-md-6 col-sm-12">
                    <label>Select Date</label>
                    @*<input class="form-control" type="date" />*@
                    @*<div id="datetimepicker"></div>*@
                    @Html.Partial("_CalendarPartial")
                </div>
                <div class="col-md-2 col-sm-12">
                    <label>Select Time</label>
                    <div id="appointmentTime" style="border:1px solid #b7b7b7;height:auto;margin-left:10px;">
                        @*@Html.RadioButtonFor(m => m.Gender, "Male") @Html.Label("Male")*@
                        <div class="col-12">
                            <input type="radio" name="option1" />
                            <label for="option1">8:00 AM</label>
                        </div>
                        <div class="col-12">
                            <input type="radio" name="option2" />
                            <label for="option2">9:00 AM</label>
                        </div>
                        <div class="col-12">
                            <input type="radio" name="option3" />
                            <label for="option3">10:00 AM</label>
                        </div>
                        <div class="col-12">
                            <input type="radio" name="option4" />
                            <label for="option4">11:00 AM</label>
                        </div>
                        <div class="col-12">
                            <input type="radio" name="option5" />
                            <label for="option5">12:00 PM</label>
                        </div>
                        <div class="col-12">
                            <input type="radio" name="option6" />
                            <label for="option6">1:00 PM</label>
                        </div>
                        <div class="col-12">
                            <input type="radio" name="option7" />
                            <label for="option7">2:00 PM</label>
                        </div>
                        <div class="col-12">
                            <input type="radio" name="option8" />
                            <label for="option8">3:00 PM</label>
                        </div>
                        <div class="col-12">
                            <input type="radio" name="option9" />
                            <label for="option9">4:00 PM</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div style="border:1px solid #b7b7b7;height:290px;margin-top: 32px;padding:10px;">
                        <p>Selected Date and Time</p>
                        <p class="font-weight-bold">May 20, 2020 Friday 11:00 AM</p>
                        <p>Processing Site</p>
                        <p class="font-weight-bold">(Site and Address)</p>
                        <div style="position: relative; top: 70px;">
                            <button type="submit" id="nextBtn" class="btn col-md-4 col-sm-12" style="background-color:#217ff3;color:white;">Confirm</button>
                            <button type="submit" class="btn btn-secondary float-right col-md-4 col-sm-12" style="background: white;color: blue;border: 1px solid darkgray;">Back</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="step-three" style="display:none" class="tabcontent">
            <h6 class="font-weight-bold">Application Summary</h6>
            <div class="row col-md-12">
                <div class="col-md-4 col-sm-12">
                    <span>Name of Applicant </span>
                </div>
                <div class="col-md-8 col-sm-12">
                    <span>: Renz Roy Gososo</span>
                </div>
                <div class="col-md-4 col-sm-12">
                    <span>Type of Document to be Apostillized </span>
                </div>
                <div class="col-md-8 col-sm-12">
                    <span>: NBI Clearance</span>
                </div>
                <div class="col-md-4 col-sm-12">
                    <span>Country of Destination</span>
                </div>
                <div class="col-md-8 col-sm-12">
                    <span>: Philippines</span>
                </div>
                <div class="col-md-4 col-sm-12">
                    <span>Date of Appointment</span>
                </div>
                <div class="col-md-8 col-sm-12">
                    <span>: May 20, 2020</span>
                </div>
                <div class="col-md-4 col-sm-12">
                    <span>Time</span>
                </div>
                <div class="col-md-8 col-sm-12">
                    <span>: 2:00 PM</span>
                </div>
                <div class="col-md-4 col-sm-12">
                    <span>Payment</span>
                </div>
                <div class="col-md-8 col-sm-12">
                    <span>: PhP 500.00</span>
                </div>
                <div class="col-md-4 col-sm-12">
                    <span>Appointment Code</span>
                </div>
                <div class="col-md-8 col-sm-12">
                    <span>: MNL-321312312</span>
                </div>
                <div class="col-md-4 col-sm-12">
                    <span>Processing Site</span>
                </div>
                <div class="col-md-8 col-sm-12">
                    <span>: DFA site and address</span>
                </div>
                <p style="margin-top:10px" class="font-weight-bold">An Appointment Letter will be sent to your email. Please print and present confirmed Appointment Letter when you visit the DFA - Office of the Consular Affairs for the processing of your Apostille.</p>
            </div>
            <div style="margin-left: 25%;margin-right: 25%;">
                <button type="submit" class="btn btn-secondary float-right col-md-4 col-sm-12" style="background: white;color: blue;border: 1px solid darkgray;">Back</button>
                <button type="submit" id="nextBtn" class="btn col-md-4 col-sm-12" style="background-color:#217ff3;color:white;">Send to Email</button>
            </div>
            <p style="margin-top:10px" class="text-center">Did'nt receive? <a href="#">Send email Again.</a></p>
        </div>

    </form>
</div>
<!-- Modal -->
<div class="modal fade" id="apostileModal" tabindex="-1" role="dialog" aria-labelledby="apostileModallLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Apostile</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Body of modal...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        $(document).ready(function () {

            $('#stepOneBtn').click();

        });

        //$('#nextBtn').click(function () {
        //    $('#stepTwoBtn').click();
        //});

        function Navigate(step, element) {
            var i, tabcontent, tablinks;
            tabcontent = $('.tabcontent');
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = $('.nav-link');
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].style.backgroundColor = "";
                tablinks[i].style.color = "gray";
            }
            element.style.backgroundColor = "#217ff3";
            element.style.color = "white";
            document.getElementById(step).style.display = "block";
            if (step = "step-two") {
                $('#datepicker').click();
            }
        }
    </script>
}
