
@{
    ViewData["Title"] = "Success";
}

<style>
    button a {
        color: white;
    }
</style>
<div class="row" style="margin-top:130px;">
    <div class="col-md-3 col-sm-0">
    </div>
    <div class="col-md-6 col-sm-12">
        <div style="border: 1px solid #b7b7b7;height:auto;">
            <div style="background-color: #217ff3;color: white;height: 35px;">
                <p class="text-left " style="padding: 8px;font-weight:600;font-size:16px;">Application successfully submitted.</p>
            </div>
            <div style="padding:30px;">
                <p class="text-center">
                    An Appointment letter has been sent to your email.  <br>
                    Kindly check your Inbox or Spam and other folder to view your appointment letter.
                </p>

                <p class="text-center">
                    Please <span style="color: red;">PRINT</span> and present your confirmed appointment letter to the Appointment Verification Counter.
                </p>

                <p class="text-center" style="font-weight: bold;">
                    EDITING, REVISING OR ALTERING THE APPOINTMENT <br> LETTER IS CONSIDERED FALSIFICATION OF <br> PUBLIC DOCUMENT AND IS PUNISHABLE BY LAW.
                </p>
                <div class="row">
                    <div class="col-md-2 col-sm-1"></div>
                    <div class="col-md-8 col-sm-10">
                        <button type="button" class="btn button-secondary col-md-12 col-sm-12" onclick="location.href='@Url.Action("Login", "Account")'">@Html.ActionLink("Back", "Login", "Account")</button>
                        @*<div class="col-md-12 col-sm-12">@Html.ActionLink("Back", "Login", "Account",null, new { @class= "button-secondary"})</div>*@
                    </div>
                    <div class="col-md-2 col-sm-1"></div>
                </div>

            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-0">
    </div>
</div>