<option value=""></option>
<option value="Alaminos">Alaminos</option>
<option value="Angeles">Angeles</option>
<option value="Antipolo">Antipolo</option>
<option value="Bacolod">Bacolod</option>
<option value="Bacoor">Bacoor</option>
<option value="Bago">Bago</option>
<option value="Baguio">Baguio</option>
<option value="Bais">Bais</option>
<option value="Balanga">Balanga</option>
<option value="Batac">Batac</option>
<option value="Batangas City">Batangas City</option>
<option value="Bayawan">Bayawan</option>
<option value="Baybay">Baybay</option>
<option value="Bayugan">Bayugan</option>
<option value="Bislig">Bislig</option>
<option value="Biñan">Biñan</option>
<option value="Bogo">Bogo</option>