<option value=""></option>
<option value="Afghanistan (AFG)">Afghanistan (AFG)</option>
<option value="Albania (ALB)">Albania (ALB)</option>
<option value="Algeria (DZA)">Algeria (DZA)</option>
<option value="American Samoa (ASM)">American Samoa (ASM)</option>
<option value="Andorra (AND)">Andorra (AND)</option>
<option value="Angola (AGO)">Angola (AGO)</option>
<option value="Anguilla (AIA)">Anguilla (AIA)</option>
<option value="Antarctica (ATA)">Antarctica (ATA)</option>
<option value="Antigua and Barbuda (ATG)">Antigua and Barbuda (ATG)</option>
<option value="Argentina (ARG)">Argentina (ARG)</option>
<option value="Armenia (ARM)">Armenia (ARM)</option>
<option value="Aruba (ABW)">Aruba (ABW)</option>
<option value="Australia (AUS)">Australia (AUS)</option>
<option value="Austria (AUT)">Austria (AUT)</option>
<option value="Azerbaijan (AZE)">Azerbaijan (AZE)</option>
<option value="Bahamas (BHS)">Bahamas (BHS)</option>
<option value="Bahrain (BHR)">Bahrain (BHR)</option>
<option value="Bangladesh (BGD)">Bangladesh (BGD)</option>
<option value="Barbados (BRD)">Barbados (BRD)</option>
<option value="Belarus (BLR)">Belarus (BLR)</option>
<option value="Belgium (BEL)">Belgium (BEL)</option>
<option value="Belize (BLZ)">Belize (BLZ)</option>
<option value="Benin (BEN)">Benin (BEN)</option>
<option value="Bermuda (BMU)">Bermuda (BMU)</option>
<option value="Bhutan (BTN)">Bhutan (BTN)</option>
<option value="Bolivia (BOL)">Bolivia (BOL)</option>
<option value="Bosnia Herzegovina (BIH)">Bosnia Herzegovina (BIH)</option>
<option value="Botswana (BWA)">Botswana (BWA)</option>
<option value="Bouvet Island (BVT)">Bouvet Island (BVT)</option>
<option value="Brazil (BRA)">Brazil (BRA)</option>
<option value="British - Citizen (GBR)">British - Citizen (GBR)</option>
<option value="British - National Overseas (GBO)">British - National Overseas (GBO)</option>
<option value="British - Subject (GBS)">British - Subject (GBS)</option>
<option value="Brunei Darussalam (BRN)">Brunei Darussalam (BRN)</option>
<option value="Bulgaria (BGR)">Bulgaria (BGR)</option>
<option value="Burkina Faso (BFA)">Burkina Faso (BFA)</option>
<option value="Burundi (BDI)">Burundi (BDI)</option>
<option value="Cambodia (KHM)">Cambodia (KHM)</option>
<option value="Cameroon (CMR)">Cameroon (CMR)</option>
<option value="Canada (CAN)">Canada (CAN)</option>
<option value="Cape Verde (CPV)">Cape Verde (CPV)</option>
<option value="Cayman Islands (CYM)">Cayman Islands (CYM)</option>
<option value="Chad (TCD)">Chad (TCD)</option>
<option value="Central African Republic (CAF)">Central African Republic (CAF)</option>
<option value="Chile (CHL)">Chile (CHL)</option>
<option value="China (CHN)">China (CHN)</option>
<option value="Christmas Island (CXR)">Christmas Island (CXR)</option>
<option value="Colombia (COL)">Colombia (COL)</option>
<option value="Comoros (COM)">Comoros (COM)</option>
<option value="Congo (COG)">Congo (COG)</option>
<option value="Dem Rep of the Congo (COD)">Dem Rep of the Congo (COD)</option>
<option value="Cook Islands (COK)">Cook Islands (COK)</option>
<option value="Costa Rica (CRI)">Costa Rica (CRI)</option>
<option value="Cote Divoire (CIV)">Cote Divoire (CIV)</option>
<option value="Croatia (HRV)">Croatia (HRV)</option>
<option value="Cuba (CUB)">Cuba (CUB)</option>
<option value="Cyprus (CYP)">Cyprus (CYP)</option>
<option value="Czech Republic (CZE)">Czech Republic (CZE)</option>
<option value="Czechoslovakia (CSK)">Czechoslovakia (CSK)</option>
<option value="Denmark (DNK)">Denmark (DNK)</option>
<option value="Djibouti (DJI)">Djibouti (DJI)</option>
<option value="Dominica (DMA)">Dominica (DMA)</option>
<option value="Dominican Republic (DOM)">Dominican Republic (DOM)</option>
<option value="East Timor (TMP)">East Timor (TMP)</option>
<option value="Ecuador (ECU)">Ecuador (ECU)</option>
<option value="Egypt (EGY)">Egypt (EGY)</option>
<option value="El Salvador (SLV)">El Salvador (SLV)</option>
<option value="Equatorial Guinea (GNQ)">Equatorial Guinea (GNQ)</option>
<option value="Eritrea (ERI)">Eritrea (ERI)</option>
<option value="Estonia (EST)">Estonia (EST)</option>
<option value="Ethiopia (ETH)">Ethiopia (ETH)</option>
<option value="Falkland Islands (FLK)">Falkland Islands (FLK)</option>
<option value="Faroe Islands (FRO)">Faroe Islands (FRO)</option>
<option value="Fiji (FJI)">Fiji (FJI)</option>
<option value="Finland (FIN)">Finland (FIN)</option>
<option value="France (FRA)">France (FRA)</option>
<option value="French Guiana (GUF)">French Guiana (GUF)</option>
<option value="French Polynesia (PYF)">French Polynesia (PYF)</option>
<option value="Gabon (GAB)">Gabon (GAB)</option>
<option value="Gambia (GMB)">Gambia (GMB)</option>
<option value="Georgia (GEO)">Georgia (GEO)</option>
<option value="Germany (DEU)">Germany (DEU)</option>
<option value="Ghana (GHA)">Ghana (GHA)</option>
<option value="Gibraltar (GIB)">Gibraltar (GIB)</option>
<option value="Great Britain - Citizen (GBR)">Great Britain - Citizen (GBR)</option>
<option value="Great Britain - National Overseas (GBN)">Great Britain - National Overseas (GBN)</option>
<option value="Greece (GRC)">Greece (GRC)</option>
<option value="Greenland (GRL)">Greenland (GRL)</option>
<option value="Grenada (GRD)">Grenada (GRD)</option>
<option value="Guadeloupe (GLP)">Guadeloupe (GLP)</option>
<option value="Guam (GUM)">Guam (GUM)</option>
<option value="Guatemala (GTM)">Guatemala (GTM)</option>
<option value="Guinea (GIN)">Guinea (GIN)</option>
<option value="Guinea-Bissau (GNB)">Guinea-Bissau (GNB)</option>
<option value="Guyana (GUY)">Guyana (GUY)</option>
<option value="Haiti (HTI)">Haiti (HTI)</option>
<option value="Honduras (HND)">Honduras (HND)</option>
<option value="Hong Kong (SAR) (HKG)">Hong Kong (SAR) (HKG)</option>
<option value="Hungary (HUN)">Hungary (HUN)</option>
<option value="Iceland (ISL)">Iceland (ISL)</option>
<option value="India (IND)">India (IND)</option>
<option value="Indonesia (IDN)">Indonesia (IDN)</option>
<option value="Iran (IRN)">Iran (IRN)</option>
<option value="Iraq (IRQ)">Iraq (IRQ)</option>
<option value="Ireland (IRL)">Ireland (IRL)</option>
<option value="Israel (ISR)">Israel (ISR)</option>
<option value="Italy (ITA)">Italy (ITA)</option>
<option value="Jamaica (JAM)">Jamaica (JAM)</option>
<option value="Japan (JPN)">Japan (JPN)</option>
<option value="Jordan (JOR)">Jordan (JOR)</option>
<option value="Kazakhstan (KAZ)">Kazakhstan (KAZ)</option>
<option value="Kenya (KEN)">Kenya (KEN)</option>
<option value="Korea Republic of (Sth) (KOR)">Korea Republic of (Sth) (KOR)</option>
<option value="Korea Dem Peoples (Nth) (PRK)">Korea Dem Peoples (Nth) (PRK)</option>
<option value="Kuwait (KWT)">Kuwait (KWT)</option>
<option value="Lao Peoples Dem Rep (LAO)">Lao Peoples Dem Rep (LAO)</option>
<option value="Latvia (LVA)">Latvia (LVA)</option>
<option value="Lebanon (LBN)">Lebanon (LBN)</option>
<option value="Lesotho (LSO)">Lesotho (LSO)</option>
<option value="Liberia (LBR)">Liberia (LBR)</option>
<option value="Liechtenstein (LIE)">Liechtenstein (LIE)</option>
<option value="Lithuania (LTU)">Lithuania (LTU)</option>
<option value="Luxembourg (LUX)">Luxembourg (LUX)</option>
<option value="Macau (MAC)">Macau (MAC)</option>
<option value="FYRM - Former Yugoslav Republic of Macedonia (MKD)">FYRM - Former Yugoslav Republic of Macedonia (MKD)</option>
<option value="Madagascar (MDG)">Madagascar (MDG)</option>
<option value="Malawi (MWI)">Malawi (MWI)</option>
<option value="Malaysia (MYS)">Malaysia (MYS)</option>
<option value="Mali (MLI)">Mali (MLI)</option>
<option value="Malta (MLT)">Malta (MLT)</option>
<option value="Marshall Islands (MHL)">Marshall Islands (MHL)</option>
<option value="Mauritania (MRT)">Mauritania (MRT)</option>
<option value="Mauritius (MUS)">Mauritius (MUS)</option>
<option value="Mexico (MEX)">Mexico (MEX)</option>
<option value="Moldova Republic (MDA)">Moldova Republic (MDA)</option>
<option value="Monaco (MCO)">Monaco (MCO)</option>
<option value="Mongolia (MNG)">Mongolia (MNG)</option>
<option value="Montenegro (MNE)">Montenegro (MNE)</option>
<option value="Montserrat (MSR)">Montserrat (MSR)</option>
<option value="Morocco (MAR)">Morocco (MAR)</option>
<option value="Mozambique (MOZ)">Mozambique (MOZ)</option>
<option value="Myanmar (MMR)">Myanmar (MMR)</option>
<option value="Namibia (NAM)">Namibia (NAM)</option>
<option value="Nepal (NPL)">Nepal (NPL)</option>
<option value="Netherlands - Kingdom (NLD)">Netherlands - Kingdom (NLD)</option>
<option value="Netherlands Antilles (ANT)">Netherlands Antilles (ANT)</option>
<option value="New Caledonia (NCL)">New Caledonia (NCL)</option>
<option value="New Zealand (NZL)">New Zealand (NZL)</option>
<option value="Nicaragua (NIC)">Nicaragua (NIC)</option>
<option value="Niger (NER)">Niger (NER)</option>
<option value="Nigeria (NGA)">Nigeria (NGA)</option>
<option value="Norway (NOR)">Norway (NOR)</option>
<option value="Oman (OMN)">Oman (OMN)</option>
<option value="Pakistan (PAK)">Pakistan (PAK)</option>
<option value="Palau (PLW)">Palau (PLW)</option>
<option value="Panama (PAN)">Panama (PAN)</option>
<option value="Papua New Guinea (PNG)">Papua New Guinea (PNG)</option>
<option value="Paraguay (PRY)">Paraguay (PRY)</option>
<option value="Peru (PER)">Peru (PER)</option>
<option value="Philippines (PHL)">Philippines (PHL)</option>
<option value="Poland (POL)">Poland (POL)</option>
<option value="Portugal (PRT)">Portugal (PRT)</option>
<option value="Puerto Rico (PRI)">Puerto Rico (PRI)</option>
<option value="Qatar (QAT)">Qatar (QAT)</option>
<option value="Romania (ROM)">Romania (ROM)</option>
<option value="Russian Federation (RUS)">Russian Federation (RUS)</option>
<option value="Rwanda (RWA)">Rwanda (RWA)</option>
<option value="Saint Lucia (ESH)">Saint Lucia (ESH)</option>
<option value="Samoa (WSM)">Samoa (WSM)</option>
<option value="San Marino Republic of (SMR)">San Marino Republic of (SMR)</option>
<option value="Saudi Arabia (SAU)">Saudi Arabia (SAU)</option>
<option value="Senegal (SEN)">Senegal (SEN)</option>
<option value="Serbia (SRB)">Serbia (SRB)</option>
<option value="Serbia & Montenegro (SCG)">Serbia & Montenegro (SCG)</option>
<option value="Sierra Leone (SLE)">Sierra Leone (SLE)</option>
<option value="Singapore (SGP)">Singapore (SGP)</option>
<option value="Slovak Republic (SVK)">Slovak Republic (SVK)</option>
<option value="Slovenia (SVN)">Slovenia (SVN)</option>
<option value="Solomon Islands (SLB)">Solomon Islands (SLB)</option>
<option value="Somalia (SOM)">Somalia (SOM)</option>
<option value="South Africa (ZAF)">South Africa (ZAF)</option>
<option value="Spain (ESP)">Spain (ESP)</option>
<option value="Sri Lanka (LKA)">Sri Lanka (LKA)</option>
<option value="St Kitts & Nevis (KNA)">St Kitts & Nevis (KNA)</option>
<option value="Sudan (SDN)">Sudan (SDN)</option>
<option value="Sweden (SWE)">Sweden (SWE)</option>
<option value="Swaziland (SWZ)">Swaziland (SWZ)</option>
<option value="Switzerland (CHE)">Switzerland (CHE)</option>
<option value="Syrian Arab Republic (SYR)">Syrian Arab Republic (SYR)</option>
<option value="Taiwan (TWN)">Taiwan (TWN)</option>
<option value="Tanzania (TZA)">Tanzania (TZA)</option>
<option value="Thailand (THA)">Thailand (THA)</option>
<option value="Timor - East (TMP)">Timor - East (TMP)</option>
<option value="Togo (TGO)">Togo (TGO)</option>
<option value="Tokelau (TKL)">Tokelau (TKL)</option>
<option value="Tonga (TON)">Tonga (TON)</option>
<option value="Trinidad and Tobago (TTO)">Trinidad and Tobago (TTO)</option>
<option value="Turkey (TUR)">Turkey (TUR)</option>
<option value="Turks and Caicos Islands (TCA)">Turks and Caicos Islands (TCA)</option>
<option value="Uganda (UGA)">Uganda (UGA)</option>
<option value="Ukraine (UKR)">Ukraine (UKR)</option>
<option value="United Arab Emirates (ARE)">United Arab Emirates (ARE)</option>
<option value="United Kingdom - Citizen (GBR)">United Kingdom - Citizen (GBR)</option>
<option value="United Kingdom - National Overseas (GBN)">United Kingdom - National Overseas (GBN)</option>
<option value="United States (USA)">United States (USA)</option>
<option value="Uruguay (URY)">Uruguay (URY)</option>
<option value="Uzbekistan (UZB)">Uzbekistan (UZB)</option>
<option value="Vietnam (VNM)">Vietnam (VNM)</option>
<option value="Virgin Islands (Brit) (VGB)">Virgin Islands (Brit) (VGB)</option>
<option value="Virgin Islands (USA) (VIR)">Virgin Islands (USA) (VIR)</option>
<option value="Yemen Republic (YEM)">Yemen Republic (YEM)</option>
<option value="Yugoslavia (YUG)">Yugoslavia (YUG)</option>
<option value="Zaire (ZAR)">Zaire (ZAR)</option>
<option value="Zambia (ZMB)">Zambia (ZMB)</option>
<option value="Zimbabwe (ZWE)">Zimbabwe (ZWE)</option>