<option value=""></option>
<option value="Afghanistan (AFG)">Afghanistan (AFG)</option>
<option value="Albania (ALB)">Albania (ALB)</option>
<option value="Algeria (DZA)">Algeria (DZA)</option>
<option value="American Samoa (ASM)">American Samoa (ASM)</option>
<option value="Andorra (AND)">Andorra (AND)</option>
<option value="Angola (AGO)">Angola (AGO)</option>
<option value="Anguilla (AIA)">Anguilla (AIA)</option>
<option value="Antarctica (ATA)">Antarctica (ATA)</option>
<option value="Antigua and Barbuda (ATG)">Antigua and Barbuda (ATG)</option>
<option value="Argentina (ARG)">Argentina (ARG)</option>
<option value="Armenia (ARM)">Armenia (ARM)</option>
<option value="Aruba (ABW)">Aruba (ABW)</option>
<option value="Australia (AUS)">Australia (AUS)</option>
<option value="Austria (AUT)">Austria (AUT)</option>
<option value="Azerbaijan (AZE)">Azerbaijan (AZE)</option>
<option value="Bahamas (BHS)">Bahamas (BHS)</option>
<option value="Bahrain (BHR)">Bahrain (BHR)</option>
<option value="Bangladesh (BGD)">Bangladesh (BGD)</option>
<option value="Barbados (BRD)">Barbados (BRD)</option>
<option value="Belarus (BLR)">Belarus (BLR)</option>
<option value="Belgium (BEL)">Belgium (BEL)</option>
<option value="Belize (BLZ)">Belize (BLZ)</option>
<option value="Benin (BEN)">Benin (BEN)</option>
<option value="Bermuda (BMU)">Bermuda (BMU)</option>
<option value="Bhutan (BTN)">Bhutan (BTN)</option>
<option value="Bolivia (BOL)">Bolivia (BOL)</option>
<option value="Bosnia Herzegovina (BIH)">Bosnia Herzegovina (BIH)</option>
<option value="Botswana (BWA)">Botswana (BWA)</option>
<option value="Bouvet Island (BVT)">Bouvet Island (BVT)</option>
<option value="Brazil (BRA)">Brazil (BRA)</option>
<option value="British - Citizen (GBR)">British - Citizen (GBR)</option>
<option value="British - National Overseas (GBO)">British - National Overseas (GBO)</option>
<option value="British - Subject (GBS)">British - Subject (GBS)</option>
<option value="Brunei Darussalam (BRN)">Brunei Darussalam (BRN)</option>
<option value="Bulgaria (BGR)">Bulgaria (BGR)</option>
<option value="Burkina Faso (BFA)">Burkina Faso (BFA)</option>
<option value="Burundi (BDI)">Burundi (BDI)</option>
<option value="Cambodia (KHM)">Cambodia (KHM)</option>
<option value="Cameroon (CMR)">Cameroon (CMR)</option>
<option value="Canada (CAN)">Canada (CAN)</option>
<option value="Cape Verde (CPV)">Cape Verde (CPV)</option>
<option value="Cayman Islands (CYM)">Cayman Islands (CYM)</option>
<option value="Chad (TCD)">Chad (TCD)</option>
<option value="Central African Republic (CAF)">Central African Republic (CAF)</option>
<option value="Chile (CHL)">Chile (CHL)</option>
<option value="China (CHN)">China (CHN)</option>
<option value="Christmas Island (CXR)">Christmas Island (CXR)</option>
<option value="Colombia (COL)">Colombia (COL)</option>
<option value="Comoros (COM)">Comoros (COM)</option>
<option value="Congo (COG)">Congo (COG)</option>
<option value="Dem Rep of the Congo (COD)">Dem Rep of the Congo (COD)</option>
<option value="Cook Islands (COK)">Cook Islands (COK)</option>
<option value="Costa Rica (CRI)">Costa Rica (CRI)</option>
<option value="Cote Divoire (CIV)">Cote Divoire (CIV)</option>
<option value="Croatia (HRV)">Croatia (HRV)</option>
<option value="Cuba (CUB)">Cuba (CUB)</option>
<option value=""></option>
<option value=""></option>
<option value=""></option>
<option value=""></option>
<option value=""></option>
<option value=""></option>
<option value=""></option>
<option value=""></option>
<option value=""></option>
<option value=""></option>
<option value=""></option>
<option value=""></option>
<option value=""></option>
<option value=""></option>
<option value=""></option>
<option value=""></option>
<option value=""></option>
<option value=""></option>
<option value=""></option>
<option value=""></option>
<option value=""></option>
<option value=""></option>
<option value=""></option>
<option value=""></option>
<option value=""></option>
<option value=""></option>
<option value=""></option>
<option value=""></option>
<option value=""></option>
<option value=""></option>
<option value=""></option>
<option value=""></option>
<option value=""></option>
<option value=""></option>
<option value=""></option>
<option value=""></option>
<option value=""></option>
<option value=""></option>
<option value=""></option>
<option value=""></option>
<option value=""></option>
<option value=""></option>
<option value=""></option>
<option value=""></option>
<option value=""></option>
<option value=""></option>
<option value=""></option>
<option value=""></option>
<option value=""></option>
<option value=""></option>
<option value=""></option>
<option value=""></option>
<option value=""></option>