<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3 fixed-top" style="background-color: #217ff3 !important;">
            <div class="container">
                <div id="dfa-banner">
                    <img id="BannerLogo" src="~/logo.png" alt="Home" style="margin-top: -45px; height:auto;width: 55px;"/>
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                        <h6 style="color:#ffffffc9;font-size: 12px; text-align:left;">
                            REPUBLIC OF THE PHILIPPINES
                        </h6>
                        <div style="background-color:#ffffffc9;height:2px;width: 470px;margin-top:-5px;"></div>
                        <h3 style="color:#fffffffc;font-weight:bold;font-size: 24px; text-align:left;">
                            DEPARTMENT OF FOREIGN AFFAIRS
                        </h3>
                        <h6 style="color:#ffffffc9;font-size: 12px; text-align:left;margin-top: -10px;">
                            2330 ROXAS BOULEVARD, PASAY CITY, PHILIPPINES 1300
                        </h6>
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                @*<div class="navbar-collapse collapse d-sm-inline-flex d-md-inline-flex flex-dm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link float-right" asp-area="" asp-controller="Home" asp-action="Index" style="color:#fffffffc;">ONLINE APOSTILLE APPLICATION & APPOINTMENT SYSTEM</a>
                        </li>
                    </ul>
                </div>*@
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3" style="margin-top:100px;">
            @RenderBody()
        </main>
    </div>

    @*<footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2020 - DFACore - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>*@
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
