<!DOCTYPE html>
<html lang="en" class="notranslate" translate="no">
<head>
    <meta charset="utf-8" />
    <meta name="google" content="notranslate" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    @*<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">*@
    @*<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" crossorigin="anonymous">*@
    @*<link href="~/lib/bootstrap/dist/css/font-awesome.css" rel="stylesheet" />*@

    <script src="~/lib/jquery/dist/jquery.js"></script>
    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>*@
    @*<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>*@

    <style>
        .navbar-toggler {
            display: none
        }

        @@media screen and (min-width: 601px) {
            div.example {
                font-size: 80px;
            }
        }

        /* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
        @@media screen and (max-width: 600px) {
            /*#BannerLogo {
                display: none;
            }*/
            #dfaTitle {
                font-size: 15px;
                margin-top: 5px;
            }

            #dfaAddress {
                display: none;
            }
        }

        /*
            src: src: url('../font/bebas/BEBAS.woff') format('woff');
            src: local('BEBAS'), url('../font/bebas/BEBAS.woff') format('woff'), url('../font/bebas/BEBAS.ttf') format('truetype');
        */
        @@font-face {
            font-family: 'BEBAS';
            src: url('../font/bebas/BEBAS.ttf');
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3 fixed-top" style="background-color: #217ff3 !important;">
            <div class="container">
                <div id="dfa-banner">
                    <img src="~/Banner.png" class="img-fluid" style="width:50%!important" />
                    @*<img id="BannerLogo" src="~/logo.png" alt="Home" style="margin-top: -45px; height:auto;width: 55px;" />
                        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                            <h6 style="color:#ffffffc9;font-size: 12px; text-align:left;">
                                REPUBLIC OF THE PHILIPPINES
                            </h6>
                            <div style="background-color:#ffffffc9;height:2px;width: 470px;margin-top:-5px;"></div>
                            <h3 style="color:#fffffffc;font-weight:bold;font-size: 24px; text-align:left;">
                                DEPARTMENT OF FOREIGN AFFAIRS
                            </h3>
                            <h6 style="color:#ffffffc9;font-size: 12px; text-align:left;margin-top: -10px;">
                                2330 ROXAS BOULEVARD, PASAY CITY, PHILIPPINES 1300
                            </h6>
                        </a>*@
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                @*<div class="navbar-collapse collapse d-sm-inline-flex d-md-inline-flex flex-dm-row-reverse">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link float-right" asp-area="" asp-controller="Home" asp-action="Index" style="color:#fffffffc;">ONLINE APOSTILLE APPLICATION & APPOINTMENT SYSTEM</a>
                            </li>
                        </ul>
                    </div>*@
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @*<footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2020 - DFACore - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>*@
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <link href='~/lib/calendar/core/main.css' rel='stylesheet' />
    <link href='~/lib/calendar/daygrid/main.css' rel='stylesheet' />
    <link href='~/lib/calendar/timegrid/main.css' rel='stylesheet' />
    <script src='~/lib/calendar/core/main.js'></script>
    <script src='~/lib/calendar/interaction/main.js'></script>
    <script src='~/lib/calendar/daygrid/main.js'></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery/dist/moment.min.js"></script>

    <script>
        // call timerInterval function every 1 minute if mouse in idle
        // validate if no. of minutes idle is > 9
        // if true, logoff user
        let baseUrl = window.location.origin;
        var idleTime = 0;

        $(document).ready(function () {
            var idleInterval = setInterval(timerIncrement, 60000); // 1m

            $(this).mousemove(function (e) {
                idleTime = 0;
            });
            $(this).keypress(function (e) {
                idleTime = 0;
            });
        });

        function timerIncrement() {
            var userAuthorized = @User.Identity.IsAuthenticated.ToString().ToLower();
            if (userAuthorized) {
                idleTime += 1;
                if (idleTime > 9) {
                    window.location = `${baseUrl}/Account/LogOff`;
                }
            }
        }
    </script>


    @*<script src='https://momentjs.com/downloads/moment.min.js'></script>*@
    @RenderSection("Scripts", required: false)
</body>
</html>
