@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="modal fade" id="declaration-modal" tabindex="-1" role="dialog" aria-labelledby="declarationModallLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row text-center">
                    <div class="col-lg-4 col-md-5 col-sm-5"></div>
                    <div class="col-lg-4 col-md-2 col-sm-2">
                        <p class="black-text" style="font-size:12px;">Department of Foreign Affairs</p>
                        <p class="black-text" style="font-size:12px;margin-top: -15px;">Office of Consular Affairs</p>
                        <p class="black-text" style="font-size:12px;margin-top: -15px;">Authentication Division</p>
                    </div>
                    <div class="col-lg-4 col-md-5 col-sm-5"></div>
                </div>
                <div class="row text-center">
                    <div class="col-lg-4 col-md-5 col-sm-5"></div>
                    <div class="col-lg-4 col-md-2 col-sm-2">
                        <h4 class="modal-title text-center black-text-bold">DECLARATION</h4>
                    </div>
                    <div class="col-lg-4 col-md-5 col-sm-5"></div>
                </div>
                <hr />
                <div class="form-group container">
                    <p class="black-text" style="font-size:12px;">
                        I hereby declare and certify that the documents submitted are authentic, I understand that the documents
                        submitted shall be subjected to verification by the Department of Foreign Affairs(DFA).
                        In the event that the same be found to be falsified or forged, my application shall be forfeited and I
                        shall be subject to legal sanctions in accordance with the law.
                    </p>
                    <p class="black-text" style="font-size:12px;">
                        In case my document needs further verification from the issuing agency, I am aware that release of
                        submitted document/s may exceed beyond the prescribed processing time depending on the
                        compliance of the vefication request from the issuing agency.
                    </p>
                    <p class="black-text" style="font-size:12px;">
                        I undestand that should my document/s be submitted to any jurisdiction where the Hague
                        Convention Abolishing the Requirement of Legalization for Foreign Public Documents (otherwise
                        known as the Apostille Convention of 1961) does not apply, I shall undertake to present said
                        document/s to the appropriate Embassy/Consulate in the Philippines for legalization.
                    </p>
                    <p class="black-text" style="font-size:12px;">
                        Further, I hold the DFA free from any liability should the Apostilized document be not accepted
                        by any foreign jurisdiction, or for any delay, delivery error, loss, or damage due to unforeseen
                        events beyond the control of the DFA, or once the Apostillized documents has been issued to the
                        courier company or to my authorized representative.
                    </p>
                    <p class="black-text" style="font-size:12px;">
                        By proceeding with this application, I understand that I am signifying my unequivocal consent
                        which effectively constitutes as waiver of any and all privacy rights pertaining to the disclosure,
                        collection, and use of my personal information and data under the specific terms and conditions
                        of R.A. No. 10173 or the Data Privacy Act of 2012 and it's Implementing Rules and Regulations,
                        and other pertinent DFA rules, regulations, and policies on the matter.
                    </p>
                </div>
                <div class="modal-footer">
                    <div class="row" style="width: 100%;">
                        <div class="col-md-5 col-sm-5"> </div>
                        <div class="col-md-2 col-sm-2">
                            <button id="declaration-agree" type="button" class="button-primary text-white" data-dismiss="modal">I AGREE</button>
                        </div>
                        <div class="col-md-5 col-sm-5"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="terms-and-conditions-modal" tabindex="-1" role="dialog" aria-labelledby="termsAndConditionsModallLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row text-center">
                    <div class="col-lg-4 col-md-5 col-sm-5"></div>
                    <div class="col-lg-4 col-md-2 col-sm-2">
                        <p class="black-text" style="font-size:12px;">Department of Foreign Affairs</p>
                        <p class="black-text" style="font-size:12px;margin-top: -15px;">Office of Consular Affairs</p>
                        <p class="black-text" style="font-size:12px;margin-top: -15px;">Authentication Division</p>
                    </div>
                    <div class="col-lg-4 col-md-5 col-sm-5"></div>
                </div>
                <div class="row text-center">
                    <div class="col-lg-3 col-md-2 col-sm-12"></div>
                    <div class="col-lg-6 col-md-5 col-sm-12">
                        <h4 class="modal-title text-center black-text-bold">TERMS AND CONDITIONS</h4>
                    </div>
                    <div class="col-lg-3 col-md-2 col-sm-12"></div>
                </div>
                <hr />
                <div class="form-group container">
                    <p class="black-text" style="font-size:12px;">
                        This appointment and scheduling system allocates slots on a first come, first serve basis.
                    </p>
                    <p class="black-text" style="font-size:12px;">
                        Users accept the responsibility for supplying, checking, and verifying the accuracy and
                        correctness of the information they provide on this system in connection with their application.
                        Incorrect information supplied may result in delay or rejection of authentication / Apostille
                        application. Misrepresentation of the user supplying inaccurate information may be considered
                        grounds for refusal/cancellation/forfeiture of authentication / Apostille application.
                    </p>
                    <p class="black-text" style="font-size:12px;">
                        All fees are non-refundable. Fees shall be forfeited for applicants who fail to show up on their
                        confirmed appointment, applicants who cancel their appointment, applicants whose application
                        was rejected due to inconsistency and/or incorrect information, and applicants who present
                        discrepant, fake or spurious documents.
                    </p>
                    <p class="black-text-bold" style="font-size:12px;">
                        <i>
                            By proceeding with this application, I understand that I am signifying my unequivocal
                            consent to the disclosure, collection, and use of my personal information and the data
                            required under the Executive Order No. 582. My consent which effectively constitutes a
                            waiver of any and all privacy rights pertaining to the disclosure, collection, and use of my
                            Appointment System Website's Privacy Policy, the Data Privacy Act of 2012 and it's
                            Implementing Rules and Regulations, and other pertinent DFA rules, regulation, policies
                            on the matter.
                        </i>
                    </p>
                </div>
                <div class="modal-footer">
                    <div class="row" style="width: 100%;">
                        <div class="col-md-5 col-sm-5"> </div>
                        <div class="col-md-2 col-sm-2">
                            <button id="terms-and-conditions-agree" type="button" class="button-primary text-white" data-dismiss="modal">I AGREE</button>
                        </div>
                        <div class="col-md-5 col-sm-5"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
