@{
    ViewData["Title"] = "ConfirmEmail";
}
<style>
    button a {
        color: white;
    }
</style>
<div class="row pageContainers">
    <div class="col-md-3 col-sm-0">
    </div>
    <div class="col-md-6 col-sm-12" style="text-align: center;">


            <img class="img-fluid" src="~/images/icons/successpage.png" />
            <h2 class="blue-text bold mb-2 mt-0 h2">Success</h2>

            <p>
                Your account has been successfully<br>
                created. You can now login your account.
            </p>

            <div class="row">
                <div class="col-md-2 col-sm-1"></div>
                <div class="col-md-8 col-sm-10">
                <button type="submit" class="btn btn-primary col-md-12 col-sm-12" style="background-color:#217ff3;">
                    @Html.ActionLink("LOGIN", "Login", "Account", null, new { style = "color: #FFFFFF!important;" })
                </button>

                </div>
                <div class="col-md-2 col-sm-1"></div>
            </div>


    </div>
    <div class="col-md-3 col-sm-0">
    </div>
</div>
