@model DFACore.Models.ForgotPasswordViewModel

@{
    ViewData["Title"] = "ForgotPasswordConfirmation";
}
<style>
    button a {
        color: white;
    }
</style>
<div class="row pageContainers">
    <div class="col-md-3 col-sm-0">
    </div>
    <div class="col-md-6 col-sm-12">
        <div style="padding:30px;text-align: center;">
            <h4 class="blue-text bold mb-2 mt-0 h4">The reset password link<br>has been sent to your email</h4>

            <p>
                Kindly check your inbox, spam or other folder<br>
                to view the password reset link. The link will <br />
                be valid for 30 minutes.
            </p>
            <p>
                If you do not received the link in 2 minutes, click<br>
                the RESEND button below:
            </p>
            <div id="timer"></div>
            <form method="post" asp-action="ForgotPassword" asp-controller="Account">
                <div class="form-group">
                    @*<label asp-for="Email"></label>*@
                    <input asp-for="Email" value="@ViewData["Email"].ToString()" hidden />
                </div>
                <div class="row">
                    <div class="col-md-2 col-sm-1"></div>
                    <div class="col-md-8 col-sm-10">
                        <button id="btnSend" type="submit" class="btn btn-primary col-md-12 col-sm-12">SEND</button>
                    </div>
                    <div class="col-md-2 col-sm-1"></div>
                </div>
            </form><br>

            @*<div class="row">
            <div class="col-md-2 col-sm-1"></div>
            <div class="col-md-8 col-sm-10">
            <button type="button" class="btn btn-primary col-md-12 col-sm-12" style="background-color:#217ff3;">@Html.ActionLink("Back", "Login")</button>
            </div>
            <div class="col-md-2 col-sm-1"></div>
            </div>*@
        </div>
    </div>

    <div class="col-md-3 col-sm-0">
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        $(document).ready(function () {

            var duration = 2; // Duration in minutes
            var countdown = duration * 60; // Convert minutes to seconds
            var timer = $('#timer');
            var button = $('#btnSend');

            // Disable the button initially
            button.prop('disabled', true);

            // Update the countdown timer every second
            var interval = setInterval(function () {
                var minutes = Math.floor(countdown / 60);
                var seconds = countdown % 60;

                timer.text(minutes + ':' + seconds + ' remaining');
                countdown--;

                // Enable the button when the countdown reaches 0
                if (countdown < 0) {
                    clearInterval(interval);
                    timer.text('');
                    button.prop('disabled', false);
                }
            }, 1000);

            // Click event handler for the send button
            button.click(function () {
                button.prop('disabled', true); // Disable the button
                countdown = duration * 60; // Reset the countdown

                var interval = setInterval(function () {
                    var minutes = Math.floor(countdown / 60);
                    var seconds = countdown % 60;

                    timer.text(minutes + ' minutes ' + seconds + ' seconds remaining');
                    countdown--;

                    // Enable the button when the countdown reaches 0
                    if (countdown < 0) {
                        clearInterval(interval);
                        timer.text('');
                        button.prop('disabled', false); // Re-enable the button
                    }
                }, 1000);
            });


        });



    </script>
}