@model DFACore.Models.ForgotPasswordViewModel

@{
    ViewData["Title"] = "Forgot your password?";
}

<style>
    .validation-summary-errors ul {
        list-style: none;
        text-align: center;
    }
</style>

<div class="row pageContainers">
    <div class="col-md-3 col-sm-1">
    </div>
    <div class="col-md-6 col-sm-10">
        @*<div style="background-color: #217ff3;color: white;height: 35px;">
        <p class="text-left " style="padding: 8px;font-weight:600;font-size:16px;">Enter your email address</p>
        </div>*@



        <div style="padding:30px;text-align: center;" >
            <form method="post">

                <h2 class="blue-text bold mb-2 mt-0 h2">Forgot Password</h2>

                <p>
                    Please provide email address that used when <br>
                    you registered your account. You will received a link<br>
                    to your email to create a new password.
                </p>

                <div class="form-group">
                    @*<label asp-for="Email"></label>*@
                    <input asp-for="Email" class="form-control text-center" />
                    @*<span asp-validation-for="Email" class="text-danger"></span>*@
                    <div asp-validation-summary="All" class="text-danger"></div>
                </div>
                <div class="row">
                    <div class="col-md-2 col-sm-1"></div>
                    <div class="col-md-8 col-sm-10">
                        <button type="submit" class="btn btn-primary col-md-12 col-sm-12" >SEND</button>
                    </div>
                    <div class="col-md-2 col-sm-1"></div>
                </div>
            </form>
        </div>
    </div>

    <div class="col-md-3 col-sm-1">
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
