@model DFACore.Models.LoginViewModel

@{
    ViewData["Title"] = "Log in";
}
<style>

    .navbar-toggler {
        display: none
    }

    @@media screen and (min-width: 601px) {
        .form-group {
            padding-left: 100px;
            padding-right: 100px;
        }

        #dfa-title {
            margin-top: 100px !important;
        }
    }

    /* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
    @@media screen and (max-width: 600px) {
        #dfa-title {
            margin-top: 40px !important;
        }

        .bannerDetails {
            font-size: 12px;
        }
    }

    /*@@media only screen and (max-width: 600px) {
        #BannerLogo {
            display: none;
        }
    }*/
    /*#terms-and-conditions-modal {
        margin-top: 10vh !important;
    }

    #declaration-modal {
        margin-top: 10vh !important;
    }*/

    button a {
        color: white;
    }

    
</style>
<div id="dfa-title" class="jumbotron pageContainers" style="background-color: white;">
    <h5 class="text-center bannerDetails black-text">WELCOME TO</h5>
    <h3 class="text-center bannerDetails black-text-bold" style="color: #858585">APOSTILLE APPLICATION & APPOINTMENT SYSTEM</h3>
</div>
<div class="row">
    <div class="col-md-3 col-sm-0">
    </div>
    <div class="col-md-6 col-sm-12">

        <section class="loginSection" style="border: 1px solid #b7b7b7;height:auto;margin-top: -55px;">
            <form id="account" method="post" asp-action="login" asp-controller="account">
                <div style="background-color: #217ff3;color: white;height: 35px;">
                    <p class="text-left " style="padding: 8px;font-weight:600;font-size:16px;">Login</p>
                </div>
                <div asp-validation-summary="All" class="text-danger"></div>
                <div style="padding:10px">
                    <div class="form-group col-md-12 col-sm-12">
                        <input asp-for="Email" class="form-control" placeholder="Email" style="font-size: 16px;text-align:center;" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-12 col-sm-12">
                        <input asp-for="Password" class="form-control" placeholder="Password" style="font-size: 16px;text-align:center;" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                    @*<div class="form-group col-md-12 col-sm-12" style="text-align: center;">
                            <div class="checkbox " >
                                <label asp-for="RememberMe">
                                    <input asp-for="RememberMe" />
                                    @Html.DisplayNameFor(m => m.RememberMe)
                                </label>
                            </div>
                        </div>*@

                    <div class="form-group col-md-12 col-sm-12">
                        <button id="login-button" type="button" class="btn btn-primary mx-auto d-block col-md-12 col-sm-12">Log In</button>
                    </div>
                    <div class="form-group col-md-12 col-sm-12" style="text-align: center;">
                        <h6>
                            <a id="forgot-password" asp-action="ForgotPassword">Forgot your password?</a>
                        </h6>
                        <p>
                            <span style="color:#656565">New user? Click</span>
                            <span style="color:#217ff3;font-weight: bold;">@Html.ActionLink("here", "Register", "Account")</span>
                            <span style="color:#656565">to register</span>
                        </p>
                    </div>

                </div>


            </form>

        </section>

    </div>
    <div class="col-md-3 col-sm-0">
    </div>
    <div class="col-md-10 offset-md-1" style="margin-top:35px;">
        <h3 class="red-text-bold text-center blinking">NOTICE TO THE PUBLIC</h3>
        @*<p class="black-text" style="color:#217ff3;font-size:15px;">
                Please be advised that the DFA Apostille Online Application & Appointment System is temporarily available for processing of Apostille at DFA - Office of the Consular Affairs. (Bradco Avenue corner Macapagal Boulevard, Aseana Business Park,
                Parañaque, 1714 Metro Manila). Please check the DFA website www.dfa.gov.ph for further announcements.
            </p>*@
        <p class="black-text" style="color:#217ff3;font-size:15px;">
            The DFA Apostille Online Application & Appointment System is available for processing of Apostille ONLY at the
            DFA - Office of the Consular Affairs. (Bradco Avenue corner Macapagal Boulevard, Aseana Business Park, Parañaque, 1714 Metro Manila)
            at the moment. If you wish to set an appointment with the any of the following Consular Offices, you can email them at:

        </p>

        <div class="row" style="font-size:14px;" >
            <div class="col-lg-3 col-md-1 col-sm-12"></div>
            <div class="col-lg-6 col-md-10 col-sm-12">
                CO Northeast (Ali Mall Cubao) - <a href="#">ncrnortheast.so@dfa.gov.ph</a> <br />
                CO West (SM Manila) - <a href="#">nerwest.so@dfa.gov.ph</a> <br />
                CO East (SM Megamall) - <a href="#">ncreast.so@dfa.gov.ph</a> <br />
                CO South (Metro Gaisano, Alabang) - <a href="#">dfancrsouth@gmail.com</a> <br />
                Pampanga -  
                <a href="#">pampanga.rco@dfa.gov.ph</a> / <a href="#">rcopampanga@yahoo.com</a><br />
                Cebu - cebu.rco@dfa.gov.ph Davao - <a href="#">davao.rco@dfa.gov.ph</a> <br />
            </div>
            <div class="col-lg-3 col-md-1 col-sm-12"></div>

        </div>
    </div>
</div>
<div class="modal fade" id="declaration-modal" tabindex="-1" role="dialog" aria-labelledby="declarationModallLabel" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row text-center">
                    <div class="col-lg-4 col-md-5 col-sm-5"></div>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <p class="black-text" style="font-size:12px;">Department of Foreign Affairs</p>
                        <p class="black-text" style="font-size:12px;margin-top: -15px;">Office of Consular Affairs</p>
                        <p class="black-text" style="font-size:12px;margin-top: -15px;">Authentication Division</p>
                    </div>
                    <div class="col-lg-4 col-md-5 col-sm-5"></div>
                </div>
                <div class="row text-center">
                    <div class="col-lg-4 col-md-5 col-sm-5"></div>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <h4 class="modal-title text-center black-text-bold">DECLARATION</h4>
                    </div>
                    <div class="col-lg-4 col-md-5 col-sm-5"></div>
                </div>
                <div class="container">
                    <hr />
                    <p class="black-text" style="font-size:14px;">
                        I hereby declare and certify that the documents submitted are authentic, I understand that the documents
                        submitted shall be subjected to verification by the Department of Foreign Affairs(DFA).
                        In the event that the same be found to be falsified or forged, my application shall be forfeited and I
                        shall be subject to legal sanctions in accordance with the law.
                    </p>
                    <p class="black-text" style="font-size:14px;">
                        In case my document needs further verification from the issuing agency, I am aware that release of
                        submitted document/s may exceed beyond the prescribed processing time depending on the
                        compliance of the verification request from the issuing agency.
                    </p>
                    <p class="black-text" style="font-size:14px;">
                        I understand that should my document/s be submitted to any jurisdiction where the Hague
                        Convention Abolishing the Requirement of Legalization for Foreign Public Documents (otherwise
                        known as the Apostille Convention of 1961) does not apply, I shall undertake to present said
                        document/s to the appropriate Embassy/Consulate in the Philippines for legalization.
                    </p>
                    <p class="black-text" style="font-size:14px;">
                        Further, I hold the DFA free from any liability should the Apostilized document be not accepted
                        by any foreign jurisdiction, or for any delay, delivery error, loss, or damage due to unforeseen
                        events beyond the control of the DFA, or once the Apostillized documents has been issued to the
                        courier company or to my authorized representative.
                    </p>
                    <p class="black-text" style="font-size:14px;">
                        By proceeding with this application, I understand that I am signifying my unequivocal consent
                        which effectively constitutes as waiver of any and all privacy rights pertaining to the disclosure,
                        collection, and use of my personal information and data under the specific terms and conditions
                        of R.A. No. 10173 or the Data Privacy Act of 2012 and its Implementing Rules and Regulations,
                        and other pertinent DFA rules, regulations and policies on the matter.
                    </p>
                </div>
                <div class="container" style="padding:10px">
                    <hr />
                    <div class="row ">
                        <div class="col-md-3 col-sm-5"> </div>
                        <div class="col-md-6 col-sm-2">
                            <button id="declaration-agree" style="width:100%" type="button" class="button-primary text-white" data-dismiss="modal">I AGREE</button>
                        </div>
                        <div class="col-md-3 col-sm-5"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="terms-and-conditions-modal" tabindex="-1" role="dialog" aria-labelledby="termsAndConditionsModallLabel" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row text-center">
                    <div class="col-lg-4 col-md-5 col-sm-5"></div>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <p class="black-text" style="font-size:12px;">Department of Foreign Affairs</p>
                        <p class="black-text" style="font-size:12px;margin-top: -15px;">Office of Consular Affairs</p>
                        <p class="black-text" style="font-size:12px;margin-top: -15px;">Authentication Division</p>
                    </div>
                    <div class="col-lg-4 col-md-5 col-sm-5"></div>
                </div>
                <div class="row text-center">
                    <div class="col-lg-3 col-md-2 col-sm-12"></div>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <h4 class="modal-title text-center black-text-bold">TERMS AND CONDITIONS</h4>
                    </div>
                    <div class="col-lg-3 col-md-2 col-sm-12"></div>
                </div>
                <div class="container">
                    <hr />
                    <p class="black-text" style="font-size:14px;">
                        This appointment and scheduling system allocates slots on a first come, first served basis.
                    </p>
                    <p class="black-text" style="font-size:14px;">
                        Users accept the responsibility for supplying, checking, and verifying the accuracy and
                        correctness of the information they provide on this system in connection with their application.
                        Incorrect information supplied may result in delay or rejection of authentication / Apostille
                        application. Misrepresentation of the user supplying inaccurate information may be considered
                        grounds for refusal / cancellation / forfeiture of authentication / Apostille application.
                    </p>
                    @*<p class="black-text" style="font-size:14px;">
                        All fees are non-refundable. Fees shall be forfeited for applicants who fail to show up on their
                        confirmed appointment, applicants who cancel their appointment, applicants whose application
                        was rejected due to inconsistency and/or incorrect information, and applicants who present
                        discrepant, fake or spurious documents.
                    </p>*@
                    <p class="black-text-bold" style="font-size:14px;">
                        <i>
                            By proceeding with this application, I understand that I am signifying my unequivocal
                            consent to the disclosure, collection, and use of my personal information and the data
                            required under the Executive Order No. 582. My consent which effectively constitutes a
                            waiver of any and all privacy rights pertaining to the disclosure, collection, and use of my
                            Appointment System Website's Privacy Policy, the Data Privacy Act of 2012 and it's
                            Implementing Rules and Regulations, and other pertinent DFA rules, regulation, policies
                            on the matter.
                        </i>
                    </p>
                </div>
                <div class="container" style="padding:10px">
                    <hr />
                    <div class="row ">
                        <div class="col-md-3 col-sm-5"> </div>
                        <div class="col-md-6 col-sm-12">
                            <button id="terms-and-conditions-agree" style="width:100%" type="submit" class="button-primary text-white">I AGREE</button>
                        </div>
                        <div class="col-md-3 col-sm-5"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#login-button").click(function () {
            var model = {
                Email: $("#Email").val(),
                Password: $("#Password").val(),
                RememberMe: false
            };

            var url = "@Url.Action("ValidateAccount", "Account")";
            $.ajax({
                url: url,
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(model),
                success: function (result) {
                    if (result == true)
                        $("#declaration-modal").modal('show');
                    else
                        $("#account").submit();
                },
                error: function () {
                    $("#account").submit();
                }

            });
            //$("#declaration-modal").modal('show');
        });
        $("#declaration-agree").click(function () {
            $("#declaration-modal").modal('hide');
            $("#terms-and-conditions-modal").modal('show');
        });
        $("#terms-and-conditions-agree").click(function () {
            $("#account").submit();
        });
        $('.modal').on("hidden.bs.modal", function (e) { //fire on closing modal box
            if ($('.modal:visible').length) { // check whether parent modal is opend after child modal close
                $('body').addClass('modal-open'); // if open mean length is 1 then add a bootstrap css class to body of the page
            }
        });
    });
</script>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
