@model DFACore.Models.LoginViewModel

@{
    ViewData["Title"] = "Log in";
}
<style>

    .navbar-toggler {
        display: none
    }

    @@media screen and (min-width: 601px) {
        .form-group {
            padding-left: 100px;
            padding-right: 100px;
        }

        #dfa-title {
            margin-top: 70px !important;
        }
    }

    /* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
    @@media screen and (max-width: 600px) {
        #dfa-title {
            margin-top: 40px !important;
        }

        .bannerDetails {
            font-size: 12px;
        }
    }

    /*@@media only screen and (max-width: 600px) {
        #BannerLogo {
            display: none;
        }
    }*/

    button a {
        color: white;
    }
</style>
<div id="dfa-title" class="jumbotron pageContainers" style="background-color: white;">
    <h5 class="text-center bannerDetails black-text">WELCOME TO</h5>
    <h3 class="text-center bannerDetails black-text-bold" style="color: #858585">APOSTILLE APPLICATION & APPOINTMENT SYSTEM</h3>
</div>
<div class="row">
    <div class="col-md-3 col-sm-0">
    </div>
    <div class="col-md-6 col-sm-12">

        <section class="loginSection" style="border: 1px solid #b7b7b7;height:auto;margin-top: -55px;">
            <form id="account" method="post">
                <div style="background-color: #217ff3;color: white;height: 35px;">
                    <p class="text-left " style="padding: 8px;font-weight:600;font-size:16px;">Login</p>
                </div>
                <div asp-validation-summary="All" class="text-danger"></div>
                <div style="padding:10px">
                    <div class="form-group col-md-12 col-sm-12">
                        <input asp-for="Email" class="form-control" placeholder="Email" style="font-size: 16px;text-align:center;" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-12 col-sm-12">
                        <input asp-for="Password" class="form-control" placeholder="Password" style="font-size: 16px;text-align:center;" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                    @*<div class="form-group col-md-12 col-sm-12" style="text-align: center;">
                            <div class="checkbox " >
                                <label asp-for="RememberMe">
                                    <input asp-for="RememberMe" />
                                    @Html.DisplayNameFor(m => m.RememberMe)
                                </label>
                            </div>
                        </div>*@
                    <div class="form-group col-md-12 col-sm-12">
                        <button type="submit" class="btn btn-primary mx-auto d-block col-md-12 col-sm-12" >Log In</button>
                    </div>
                    <div class="form-group col-md-12 col-sm-12" style="text-align: center;">
                        <h6>
                            <a id="forgot-password" asp-action="ForgotPassword">Forgot your password?</a>
                        </h6>
                        <p>
                            <span style="color:#656565">New user? Click</span>
                            <span style="color:#217ff3;font-weight: bold;">@Html.ActionLink("here", "Register", "Account")</span>
                            <span style="color:#656565">to register</span>
                        </p>
                    </div>
                </div>
            </form>
        </section>

    </div>
    <div class="col-md-3 col-sm-0">
    </div>
    <div class="col-md-10 offset-md-1" style="margin-top:35px;">
        <h3 class="red-text-bold text-center">NOTICE TO THE PUBLIC</h3>
        <p class="black-text-bold" style="color:#217ff3;font-size:15px;">
            Please be advised that the DFA Apostille Online Application & Appointment System is temporarily available for processing of Apostille at DFA - Office of the Consular Affairs. (Bradco Avenue corner Macapagal Boulevard, Aseana Business Park,
            Parañaque, 1714 Metro Manila). Please check the DFA website www.dfa.gov.ph for further announcements.
        </p>
    </div>



    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
