@model DFACore.Models.LoginViewModel

@{
    ViewData["Title"] = "Log in LRA";
 
}
<style>

    .navbar-toggler {
        display: none
    }

    @@media screen and (min-width: 601px) {

        #dfa-title {
            margin-top: 100px !important;
        }

        .loginTitleVisible2 {
            display: none;
        }
    }

    /* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
    @@media screen and (max-width: 600px) {
        #dfa-title {
            margin-top: 40px !important;
        }

        .loginTitleVisible {
            display: none;
        }

        .bannerDetails {
            font-size: 12px;
        }
    }

    .no-border {
        border: 0;
        box-shadow: none; /* You may want to include this as bootstrap applies these styles too */
    }

    .loginTitle {
        font-family: 'BEBAS' !important;
    }


    button a {
        color: white;
    }

    .validation-summary-errors ul {
        list-style: none;
        margin-left: -14px;
    }
</style>
<section class="header px-4 mt-5">
    <div class="text-center mt-3 w-100 mb-60">
        <p class="black-text bold mb-0 p-label">Office of the Consular Affairs</p>
        <p class="black-text bold p-label">Authentication Division</p>
        <h2 class="blue-text bold mb-0 mt-2 h2">Apostille Appointment System</h2>
        <h4 class="bold mt-2 h4">(LRAs)</h4>
    </div>
</section>

<div class="row">
    <div class="col-md-3 col-sm-0">
    </div>
    <div class="col-md-6 col-sm-12">

        <section class="loginSection" style="height:auto;margin-top: -55px;">
            <form id="account" method="post" asp-action="loginlra" asp-controller="account">

                <div asp-validation-summary="All" class="text-danger"></div>
                <div style="padding:10px">
                    <div class="form-group col-md-12 col-sm-12">
                        <input asp-for="Email" class="form-control no-border" placeholder="Email" style="font-size: 16px;text-align:center;background-color:#DFE8F5;" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-12 col-sm-12">
                        <input asp-for="Password" class="form-control no-border" placeholder="Password" style="font-size: 16px;text-align:center;background-color:#DFE8F5;" />
                        <i toggle="#password-field" class="fa fa-fw fa-eye field_icon toggle-password float-right" style="position: relative;top: -27px;right: 10px;"></i>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                    <div class="form-group col-md-12 col-sm-12">
                        <button id="login-button" type="submit" class="btn btn-primary mx-auto d-block col-md-12 col-sm-12">LOGIN</button>
                    </div>

                    <hr style="color: #DFE8F5; background-color: #DFE8F5;" class="mb-2 mt-4 mx-3" />
                </div>


            </form>

        </section>

    </div>
    <div class="col-md-3 col-sm-0">
    </div>


</div>


<script>

    $(document).ready(function () {

        $(document).on('click', '.toggle-password', function () {

            $(this).toggleClass("fa-eye fa-eye-slash");

            var input = $("#Password");
            input.attr('type') === 'password' ? input.attr('type', 'text') : input.attr('type', 'password');
            console.log(input.attr('type'));
        });
    });
</script>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
