
@{
    ViewData["Title"] = "How to secure an appointment";
}
<style>
    button a {
        color: white;
    }
</style>
<div class="row pageContainers">

    <div class="col-md-12 col-sm-12">
        <video width="800" controls="controls" style="display:block; margin: auto; margin-top: 20px;">
            <source src="~/video/APOSTILLE.mp4" type="video/mp4" />
        </video>
    </div>
   
</div>
