@{
    ViewData["Title"] = "Reset Password Confirmation";
}
@*<p>
    Your password has been reset. Please <a asp-action="Login">click here to log in</a>.
</p>*@
<style>
    button a {
        color: white;
    }
</style>
<div class="row">
    <div class="col-md-3 col-sm-0">
    </div>
    <div class="col-md-6 col-sm-12">
        @* <div style="background-color: #217ff3;color: white;height: 35px;">
        <p class="text-left " style="padding: 8px;font-weight:600;font-size:16px;">@ViewData["Title"]</p>
        </div>*@



        <div style="padding:30px; text-align: center;">
            <h3 class="blue-text bold mb-2 mt-0 h3">Success</h3> <br />

            <p>
                Your password has been successfully <br>
                created. You can now login your account.
            </p>
            <div class="row">
                <div class="col-md-2 col-sm-1"></div>
                <div class="col-md-8 col-sm-10">
                    <button type="button" class="btn btn-primary col-md-12 col-sm-12 font-weight-bold" style="background-color:#217ff3;">@Html.ActionLink("LOGIN", "Login")</button>
                </div>
                <div class="col-md-2 col-sm-1"></div>
            </div>

        </div>
    </div>

    <div class="col-md-3 col-sm-0">
    </div>
</div>