@model DFACore.Models.ResetPasswordViewModel
@{
    ViewData["Title"] = "Reset Password";
}

<style>
    .validation-summary-errors ul {
        /*list-style: none;*/
        margin-left: 14px;
        text-align: left;
    }
</style>

<div class="row">
    <div class="col-md-3 col-sm-0">
    </div>
    <div class="col-md-6 col-sm-12">
        @*<div style="background-color: #217ff3;color: white;height: 35px;">
        <p class="text-left " style="padding: 8px;font-weight:600;font-size:16px;">@ViewData["Title"]</p>
        </div>*@
        <div style="padding:30px; text-align: center;">
            <form method="post">

                <h4 class="blue-text bold mb-2 mt-0 h4">Create a New Password</h4> <br />


                <input asp-for="Email" type="hidden" />
                <input asp-for="Code" type="hidden" />
                <div class="form-group">
                    @*<label asp-for="Password"></label>*@
                    <input id="resetPassword" asp-for="Password" class="form-control" placeholder="Password" />
                    <span toggle="#password-field" class="fa fa-fw fa-eye field_icon toggle-password float-right" style="position: relative;top: -24px;right: 10px;"></span>
                    @*<span asp-validation-for="Password" class="text-danger"></span>*@
                </div>
                <div class="form-group">
                    @*<label asp-for="ConfirmPassword"></label>*@
                    <input id="resetConfirmPassword" asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Password" />
                    <span toggle="#password-field" class="fa fa-fw fa-eye field_icon toggle-confirmpassword float-right" style="position: relative;top: -24px;right: 10px;"></span>
                    @*<span asp-validation-for="ConfirmPassword" class="text-danger"></span>*@
                </div>

                <div asp-validation-summary="All" class="text-danger"></div>
                <br >

                <div class="row">
                    <div class="col-md-2 col-sm-1"></div>
                    <div class="col-md-8 col-sm-10">
                        <button type="submit" class="btn btn-primary col-md-12 col-sm-12 font-weight-bold" style="background-color:#217ff3;">Submit</button>
                    </div>
                    <div class="col-md-2 col-sm-1"></div>
                </div>
            </form>
        </div>

    </div>

    <div class="col-md-3 col-sm-0">
    </div>
</div>
@*<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input asp-for="Email" type="hidden"  />
            <input asp-for="Code" type="hidden" />
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary" style="background-color:#217ff3;position: relative;left: 120px;">Reset</button>
        </form>
    </div>
</div>*@

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(document).on('click', '.toggle-password', function () {

            $(this).toggleClass("fa-eye fa-eye-slash");

            var input = $("#resetPassword");
            input.attr('type') === 'password' ? input.attr('type', 'text') : input.attr('type', 'password');
            //console.log(input.attr('type'));
        });
        $(document).on('click', '.toggle-confirmpassword', function () {

            $(this).toggleClass("fa-eye fa-eye-slash");

            var input = $("#resetConfirmPassword");
            input.attr('type') === 'password' ? input.attr('type', 'text') : input.attr('type', 'password');
            //console.log(input.attr('type'));
        });
        $('#reg-confirmpassword').on("cut copy paste", function (e) {
            e.preventDefault();
        });
    </script>
}