@model DFACore.Models.TestData

@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <style>
        body {
            font-family: Arial, sans-serif, Helvetica, sans-serif;
            font-weight: 400;
            color: black;
            font-size: 17px;
            text-align: justify;
            text-justify: inter-word;
        }

        .appointMentTable {
            font-size: 14px;
        }

        .appointMentValue {
            font-weight: bold;
        }

        .customTable table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }

            .customTable table td {
                padding: 5px;
            }

        .borderless td {
            border: none;
        }

        .borderless td {
            padding: 1px;
            vertical-align: top;
        }

        .padding30 {
            padding-left: 30px !important;
        }

        p {
            margin-top: 0;
            margin-bottom: 0;
        }
    </style>
</head>
<body>
    <header>
        <p style="text-align:center;font-weight:bold;font-size:20px;">SPECIAL POWER OF ATTORNEY</p>
    </header>
    <div>
        <p style="font-weight:bold;margin-top:40px;">KNOW ALL MEN BY THESE PRESENTS:</p>
    </div>
    <div>
        <p style="margin-top:20px;padding-left:50px;">
            That I, _______________________________________________ of legal age, Filipino, and a resident of <br>
        </p>
        <p style="margin-left:220px;font-size:16px;">(NAME OF PRINCIPAL)</p>
        <p style="margin-top:20px;">___________________________________________________________________________ do hereby name,</p>
        <p style="margin-left:260px;font-size:16px;">(ADDRESS)</p>
        <p style="margin-top:20px;">appoint, and constitute ___________________________________, ___________________________________, </p>
        <p style="font-size:16px;"><span style="margin-left: 175px;">(RELATIONSHIP TO ATTORNEY-IN-FACT)</span><span style="margin-left: 55px;">(NAME OF ATTORNEY-IN-FACT)</span></p>
        <p style="margin-top:20px;">also of age, Filipino, and a resident of ___________________________________________________________, </p>
        <p style="margin-left:520px;font-size:16px;">(ADDRESS)</p>
        <p style="margin-top:20px;">to be my true and lawful attorney to do and perform the following acts and things to wit:</p>

        <p style="margin-top:20px;padding-left:30px;">1. To be the person to apply and request from the Department of Foreign Affairs to authenticate my</p>
        <p style="margin-top:20px;padding-left:50px;">_____________________________________________________________________________________; </p>
        <p style="margin-top:20px;padding-left:30px;">2. To make, sign, execute, deliver, and receive any other document/paper necessary to carry into effect this autority;</p>
        <p style="margin-top:20px;padding-left:30px;">3. In order to secure and guarantee the information, hereby attach a photocopy of my identification card;</p>

        <p style="margin-top:20px;padding-left:30px;">
            <span style="padding-left: 40px;padding-right:9px;font-weight:bold">HEREBY GIVING AND GRANTING </span> unto said attorney-in-fact full powers and authority to do and perform
            all and every act requisite or necessary to carry into effect the foregoing authority as fully to all intents
            and purposes as I might or could lawfully do if personally present, with full powers of revocation and hereby
            ratifying all that the said substitute shall lawfully do or cause to be done by virtue hereof.
        </p>

        <p style="margin-top:20px;padding-left:30px;">
            <span style="padding-left: 40px;padding-right:9px;font-weight:bold">IN WITNESS HEREOFF,</span>I hereunto set my hand this ___ day of ___________ at _________________.
        </p>

        <p style="margin-top:20px;padding-left:500px;">________________________________</p>
        <p style="padding-left: 600px; font-size: 16px;">Principal</p>

        <p style="margin-top:20px;padding-left:500px;">ID No.______________________</p>

        <p style="margin-top:15px;padding-left: 40px;">________________________________</p>
        <p style="padding-left: 40px; font-size: 16px;">Attorney-in-Fact</p>

        <p style="margin-top:20px;padding-left:40px;">ID No.______________________</p>

        <p style="margin-top:20px;">
            REPUBLIC OF THE PHILIPPINES)<br>
            CITY OF <span style="padding-left:250px;">)</span>
        </p>
        <p style="margin-top:20px;"></p>

        <p style="margin-top:20px;">
            SUBSCRIBED AND SWORN to be before me this ___ of ___________City of______________, affiant exhibiting <br>
            to his/her Identification No. ___________________
        </p>

        <p style="margin-top:20px;padding-left:550px;">NOTARY PUBLIC</p>

        <p style="margin-top:20px;">
            Doc. No. ___;<br>
            Page No. ___;<br>
            Book No. ___;<br>
            Series of<br>
        </p>
    </div>
</body>
</html>
